*{margin: 0;padding: 0;font-family: "微软雅黑";-webkit-tap-highlight-color: rgba(0,0,0,0); list-style-type:none;}
body,html{background: rgb(242,242,242);overflow-x: hidden;max-width: 640px;min-width: 320px;margin:0 auto;}
/*页面头部样式*/
.linhaiheader{width: 100%;height: 200px;background: url(../images/bg_linhai.png) no-repeat center center;background-size: cover;padding: 10px 15px;box-sizing: border-box;}
.linhaiheaderToolbar{width: 100%;}
.linhaiback{display:block;float: left;margin-right: 15px;width: 30px;height: 30px;}
.linhaisearch{float:left;height: 30px;background: rgba(255,255,255,0.8);width:100%;border-radius: 30px;padding: 5px 15px;box-sizing: border-box;}
.linhaiBtnSearch{display: block;float: left;margin-right: 6px;width: 20px;height: 20px;}
.searchDes{font-size: 16px;color: rgb(183,181,180);float: left;height: 100%;margin-top: -1px;}

/*地区、商铺块样式*/
.areaAndShop{background: #FFFFFF;padding: 10px 0px;}
.areaName,.shopCount{width: 50%;float: left;text-align: center;box-sizing: border-box;font-size: 14px;}
.areaName{border-right: 1px solid rgb(221,221,221);}
.fontColorBlue{color: rgb(82,195,241);}
.bg_area,.bg_shopCount{display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-right: 5px;}
.bg_area{background: url(../images/icon_add.png) no-repeat center center;background-size: contain;}
.bg_shopCount{background: url(../images/icon_enter.png) no-repeat center center;background-size: contain;}

/*导航*/
.linhainav{width: 100%;margin-top: 10px;position: relative;}
.linhainavtop{width: 100%;border-bottom: 1px solid rgb(221,221,221);background:white;}
.borderBlue{border-bottom: 2px solid rgb(82,195,241);}
div[class^=nav-]{width: 33%;float: left;text-align: center;}
div[class^=nav-] span{padding: 10px;display: inline-block;font-size: 16px;}
.linhainavmenus{width: 100%;background: white;}
.linhaimenuitem{float: left;text-align: center;font-size: 14px;background:white;height: 40px;line-height: 40px;padding: 0 7px;}
.bg_menusall,.bg_menuspart{display: block;width: 20px;height: 20px;background: url(../images/icon_classify.png) no-repeat center center;background-size: contain;margin: 10px 10px 0px 0px;float: right;}
.linhainavmenusmore{width: 100%;padding: 10px;box-sizing: border-box;display: none;font-size: 14px;background:white;position: absolute;left: 0px;top: 0px;-webkit-tap-highlight-color: rgba(0,0,0,0);z-index: 99999;}
.menusTitle{height: 22px;}
.bg_menuspart{background: url(../images/icon_classify_close.png) no-repeat center center;float: right;background-size: contain;margin: 0px auto;}
.linhaimenuitemmore{float: left;margin-top: 10px;text-align: center;margin-left: 3%;border: 1px solid rgb(221,221,221);border-radius: 6px;box-sizing: border-box;padding: 5px 5%;}
.fontColorWhite{background: rgb(82,195,241);color: white;border-color: transparent;}
.scrollMenus{width: calc(100% / 6 * 5);float: left;overflow: auto;-webkit-overflow-scrolling:touch;overflow-x: scroll;}
.scrollMenus::-webkit-scrollbar{display:none;}
/* 凌海市场导航下列表 */
.shopInfo{width: 100%;padding: 10px 0px;background: white;margin-top: 10px;}
.shopNameTop{padding: 0px 10px;box-sizing: border-box;}
.shopHead{float: left;}
.shopHead img{width: 40px;height: 40px;display: block;}
.shopNameAndDes{float: left;margin-left: 10px;width: calc(100% - 50px);}
.shopNameInfo{font-size: 14px;line-height: 20px;}
.btn_goinshop{float: right;border: 1px solid rgb(221,221,221);padding: 1px 6px;border-radius: 6px;margin-top: -1px;color: #666;}
.shopLabels{font-size: 14px;color: #999;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;line-height: 20px;}
.shopImgsdes{width: 100%;margin-top: 5px;}
.shopImgsdes .shopImgsItem{width: calc((100% - 10px) / 3);float: left;height: 120px;overflow: hidden;}
.shopImgsdes .shopImgsItem:nth-of-type(2),.shopImgsdes .shopImgsItem:nth-of-type(3){margin-left: 5px;}
/*加载更多*/
.loadMore{width: 100px;margin: 10px auto;background: white;border: 1px solid rgb(82,195,241);color: rgb(82,195,241);padding: 5px 15px;text-align: center;border-radius: 40px;}

/*店铺排名 2016-12-20*/
.dianpu { width:100%; display:inline-block; background:#f2f2f2;}
.paimin { width:100%; display:inline-block; margin-top:15px;}
.paimin ul li { width:94%; display:inline-block; margin-bottom:15px; background:#fff; padding:0 3%;}
.paimin_img { width:80px; height:80px;float:left; overflow:hidden; margin:-8px 8px 0 0;}
.paimin_img img { width:100%; float:left;}
.paimin_mc { width:53px; height:24px; background-image:url(../images/icon_ranking_red.png); background-repeat:no-repeat; background-size:100% 100%; float:right; text-align:center; color:#fff; line-height:20px; margin:-8px 0 4px 0; font-size:14px;}
.paimin_mc4 { width:53px; height:24px; background-image:url(../images/icon_ranking_orange.png); background-repeat:no-repeat; background-size:100% 100%; float:right; text-align:center; color:#fff; line-height:20px; margin:-8px 0 4px 0; font-size:14px;}
.paimin_title { line-height:20px; color:#333333; font-size:14px; width:70%; overflow:hidden; height:20px;text-overflow: ellipsis;white-space: nowrap; margin-bottom:8px;}
.paimin_momey { color:#ea3838; font-size:12px; display:inline-block; line-height:22px; width:40%;}
.paimin_momey span { font-size:17px;}
.paimin_jy { display:inline; padding:0 5px; border:1px solid #999999; border-radius:4px; color:#999999; line-height:22px; font-size:14px;}
.paimin ul li h2 {line-height:20px; color:#666666; font-size:14px; width:100%; overflow:hidden; height:26px;text-overflow: ellipsis;white-space: nowrap; margin-bottom:6px; font-weight:normal; padding:8px 0; margin:0;}
.paimin ul li h2 img { float:left; height:18px; margin:1px 5px 0 0;}


/*热销内容*/
.hot_sale_list{background:#fff;width:100%;height:48px;}
.hot_sale_list li{color:#333333;width:33.33%;float:left;text-align:center;background-color:#fff;font-size:15px;height:16px;line-height:16px;padding:16px 0px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.hot_sale_list li a{color:#333333;text-decoration:none;}
#hot_sale_list_xlx{display:inline-block;width:10px;height:4px;background-image:url("../images/xiala.png");background-repeat:no-repeat;background-position:0px 0px;background-size:100%;vertical-align: middle;margin-left:5px;margin-bottom:3px;}
#hot_sale_list_xls{display:inline-block;width:10px;height:4px;background-image:url("../images/shangla.png");background-repeat:no-repeat;background-position:0px 0px;background-size:100%;vertical-align: middle;margin-left:5px;margin-bottom:3px;display:none;}
#hot_sale_list_jgx{display:inline-block;width:10px;height:4px;background-image:url("../images/xiala.png");background-repeat:no-repeat;background-position:0px 0px;background-size:100%;vertical-align: middle;margin-left:5px;margin-bottom:3px;}
#hot_sale_list_jgs{display:inline-block;width:10px;height:4px;background-image:url("../images/shangla.png");background-repeat:no-repeat;background-position:0px 0px;background-size:100%;vertical-align: middle;margin-left:5px;margin-bottom:3px;display:none;}
.hot_sale_content{margin-top:10px;background:#fff;width:100%;clear:both;overflow: scroll;height: calc(100% - 260px);height: -webkit-calc(100% - 260px);height: -ms-calc(100% - 260px);height: -moz-calc(100% - 260px);}
.hot_sale_content > li{width:94%;height:80px;padding:10px 0%;margin:0px 3%;border-bottom:#dddddd solid 1px;clear:both;}
.hot_sale_content > li:last-child{border:none;}
.hot_sale_content_img{height:80px; float:left;width:calc(30% - 10px);width:-moz-calc(30% - 10px);width:-webkit-calc(30% - 10px);width:-ms-calc(30% - 10px);overflow: hidden;}
.hot_sale_content_img img{width:100%;height:100%;}
.hot_sale_xq{float:right;width:70%;font-size:13px;}
.hot_sale_xq_name{color:#333333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
.hot_sale_xq_yh{width:100%;height:18px;margin-top:3px;float: left;}
.hot_sale_xq_yh li{float:left;color:#00a3ea;border:#41cef8 solid 1px;font-size:12px;height:12px;line-height:12px;border-radius:3px;margin-right:5px;padding:2px 5px;}
.hot_sale_xq_price{clear:both;width:100%;height:13px;margin-top:5px;font-weight: normal;}
.hot_sale_xq_jg{float:left;color:#ea3838;height:13px;line-height: 13px;width:62%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.hot_sale_xq_jg span{font-size:12px;}
.hot_sale_xq_xl{float:right;height:13px;line-height: 13px;color:#999999;width:36%;text-align:right;font-size:12px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.hot_sale_xq_dp{clear:both;color:#999999;height:13px;line-height:13px;background:url("../images/dianpu.png") no-repeat;background-size: 13px 13px;padding-left:16px;margin-top:5px;width:90%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
@media screen and (min-width:375px){
	.hot_sale_content > li{height:90px;}
	.hot_sale_content_img{height:90px; width:calc(28% - 10px);width:-moz-calc(28% - 10px);width:-webkit-calc(28% - 10px);width:-ms-calc(28% - 10px);}
	.hot_sale_xq{float:right;width:72%;}
	.hot_sale_xq_name{font-size:15px;}
	.hot_sale_xq_yh{margin-top:6px;}
	.hot_sale_xq_price{width:100%;height:16px;margin-top:8px;}
	.hot_sale_xq_jg{height:16px;line-height:16px;width:62%;font-size:16px;}
	.hot_sale_xq_xl{height:16px;line-height: 16px;width:38%;}
}
@media screen and (min-width:414px){
	.hot_sale_content_img{height:90px;  width:calc(25% - 10px);width:-moz-calc(25% - 10px);width:-webkit-calc(25% - 10px);width:-ms-calc(25% - 10px);}
	.hot_sale_xq{float:right;width:75%;font-size:13px;}
	.hot_sale_xq_jg span{font-size:13px;}
}
@media screen and (min-width:767px){
	.hot_sale_content > li{height:120px;}
	.hot_sale_content_img{height:120px; width:calc(19% - 10px);width:-moz-calc(19% - 10px);width:-webkit-calc(19% - 10px);width:-ms-calc(19% - 10px);}
	.hot_sale_xq{float:right;width:81%;}
	.hot_sale_xq_name{font-size:20px;}
	.hot_sale_xq_yh{width:100%;height:21px;margin-top:8px;}
	.hot_sale_xq_yh li{font-size:15px;height:15px;line-height:15px;margin-right:5px;padding:2px 5px;}
	.hot_sale_xq_price{width:100%;height:22px;margin-top:8px;}
	.hot_sale_xq_jg{height:22px;line-height:22px;width:62%;font-size:22px;}
	.hot_sale_xq_jg span{font-size:15px;}
	.hot_sale_xq_xl{height:22px;line-height: 22px;width:38%;font-size:15px;}
	.hot_sale_xq_dp{font-size:18px;height:18px;line-height:18px;background-size:18px 18px;padding-left:23px;margin-top:10px;}
}

/*空商品*/
.nothingNull{
	width: 100%;
	background: white;
	margin-top: 10px;
	padding: 10% 0px 0px 0px;
	height: 280px;
}
.nothingNull img{display: block;margin: 0 auto;}
.nothingNull p{margin: 0 auto;text-align: center;margin-top: 5px;}
@media only screen and (max-width: 320px) {
	.nothingNull{
	height: 100px;
}
}


/*日期选择 2016/12/26 tyq */
.date_all{width:94%;padding:10px 3%;background:#fff;color:#333333;height:25px;overflow-y:scroll;}
.date{font-size:15px;height:25px;line-height:25px;}
.date_bj{display:block;width:25px;height:25px;background:url("../images/icon_date.png") no-repeat;background-size:100%;float:right;}
.choose_date{position:fixed;bottom:0px;width:100%;font-size:15px;background:#fff;overflow-y:auto;z-index:100;display:none;}
.choose_date_font{position:relative;width:94%;height:20px;line-height:20px;padding:10px 3%;text-align:center;}
.choose_date_qx{position:absolute;width:18px;height:18px;background:url("../images/icon_date_close.png") no-repeat;background-size: 100%;right:3%;top:11px;}
.choose_date ul li{border-top:#dddddd solid 1px;width:94%;height:20px;line-height:20px;padding:10px 3%;text-align:center;position:relative;}


/*首页 2017年3月24日09:45:10*/
.top_one { width:100%; position:fixed;top:0; z-index:10;max-width: 640px;min-width: 320px;}
.index_top { /*background:rgba(0,0,0,0.2);*/ padding:10px 3%; position:relative; top:0;}
.index_top_logo { float:left; height:17px; margin:7px 15px 0 0;}
.index_top_rigntimg{float: right;height: 20px;margin-top: 5px;}
.index_search{float:left;height: 30px;background:#f3f3f3;border-radius: 30px;padding: 5px 10px;box-sizing: border-box;width: -webkit-calc(100% - 65px);width: -moz-calc(100% - 65px);width: -o-calc(100% - 65px); width: calc(100% - 65px);}
.index_search_bt{display: block;float: left;margin-right: 6px;width: 20px;height: 20px;}
.index_search_zi{font-size: 14px;color: rgb(183,181,180);float: left;height: 100%;margin-top:0px;}
.index_sas { font-size:11px; float:right; height:12px; width:36px; background:url(../images/ico_scan.png) no-repeat; background-size:18px auto; background-position:9px 0px; padding-top:18px; color:#999999;}

.index_menus{width: 100%;background: white;overflow: auto;-webkit-overflow-scrolling:touch;overflow-x: scroll;}
.index_menus::-webkit-scrollbar{display:none;}
.index_menus_zz{float: left;text-align: center;font-size:16px;background:white;height:46px;line-height:46px; margin: 0 15px; padding:0 5px; color:#333;}
.index_menus_blue{color:#5d91eb; border-bottom:3px solid #5d91eb;}

.index_mind {margin:0px 0 55px 0; width:100%; overflow:hidden;}

.realtime_info{width: 100%;height:45px;overflow: hidden;position: relative;background: #FFFFFF; padding:0 3%;}
.realtime_info i{width:60px;height:45px;background: url(../images/icon_xioaliutoutiao@2x.png) no-repeat ;background-size:100% 100%;float: left;display: block;}
.realtime_info ul{color:#333333;list-style: none;position: absolute;left:80px;top: 0;transition: all 0.8s;-webkit-transition:all 0.8s;width: -webkit-calc(100% - 80px - 3%);width: -moz-calc(100% - 80px - 3%);width: -o-calc(100% - 80px - 3%); width: calc(100% - 80px - 3%); display:block; }
.realtime_info ul li{height:45px;color: #333333;font-size: 14px;box-sizing: border-box; background:url(../images/disclosure_arrow_gray.png) no-repeat right center; background-size:11px auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; padding-right:15px;}
.realtime_info ul li p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; padding-right:15px;}
.realtime_info ul li span { font-size:14px; }
.realtime_info ul li span img { height:35px; margin:5px 5px 0 0; float:left;}
.redfont { color:#ff6000;}

.index_menu {background:#fff;width:100%;overflow:hidden;font-size:0.9em;color:#333333;padding:10px 0;}
.index_menu ul{list-style:none;display:block;margin:0;padding:0;}
.index_menu ul li {display:block;margin:0;padding:0;overflow:hidden;width:25%;float:left;margin: 10px 0;}
.index_menu ul li span {display:block;overflow:hidden;margin:0; padding:0; width:100%; margin:0 auto}
.index_menu ul li span img {float:left; width:60%; margin:3px 20%;}
.index_menu ul li a {margin-top:0.1rem;display:block;text-align:center}

/*楼层样式*/
.toplist_longhubang{width: 100%;}
.index_floor{background: #fff;position: relative; margin-top: 10px; width:100%;height:35px;padding:8px 0px;font-size:16px;line-height:28px;text-align:center;overflow:hidden;}
.index_floor img{height:100%;vertical-align:top;}
.index_floor span{position: absolute;right: 3%;  line-height:28px;  font-size:14px; color:#666666; background:url(../images/back_right_btn.png) no-repeat;background-size: 100% 100%; height: 18px;width: 10px;cursor: pointer;}
.two_floor {background: #fff; width:100%;padding: 10px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.toplist_part{width: 30%;text-align: center;}
.toplist_d1{width: 100%;background: url(../images/list_top2@3x.png);background-size: 100% 100%;}
.toplist_d2{width: 100%;background: url(../images/list_top1@3x.png);background-size: 100% 100%;}
.toplist_d3{width: 100%;background: url(../images/list_top3@3x.png);background-size: 100% 100%;}
.toplist_d{height: 85px;}
.toplist_d img{width: 100%;height: 100%;}
.toplist_p1{text-overflow:ellipsis;overflow: hidden;white-space: nowrap;margin-top: 10px;}
.toplist_p2{color: #ff6000;}
@media screen and (min-width:410px){
	.toplist_d{height: 100px;}
	.index_hot div{width: 25%;height: 132px!important;}
	.index_hot2 div{width: 25%;height: 140px!important;}
	.index_hot_sale_goods_img{height: 175px!important;}
}
@media screen and (min-width:500px){
	.toplist_d{height: 160px;}
	.index_hot div{width: 25%;height: 192px!important;}
	.index_hot2 div{width: 25%;height: 200px!important;}
	.index_hot_sale_goods_img{height: 235px!important;}
}


.hang_banner { width:100%; margin:10px 0 0 0;position: relative;}
.hang_banner img { width:100%;}
.hang_banner span{position: absolute;vertical-align: middle;top:calc(50% - 9px); right: 3%;  line-height:28px;  font-size:14px; color:#666666; background:url(../images/arrow_right.png) no-repeat;background-size: 100% 100%; height: 18px;width: 10px;cursor: pointer;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}

.index_hot{width:100%;overflow-y:auto;background: #fff; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.index_hot div{width: 25%;height: 112px;}

.index_hot2{width:100%;overflow-y:auto;background: #fff; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.index_hot2 div{width: 33.3%;height: 125px;}
.index_img img{width: 100%;}
.left_border{border-left: 1px solid #e6e6e6;}
.bottom_border{border-bottom: 1px solid #e6e6e6;}
.index_infobanner{width: 100%;margin-top: 10px; -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;}
.index_infobanner div{width: 50%;} 
.index_hot_sale_box{width: 100%;background: #fff; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.index_hot_sale_goods{width: 50%;padding: 10px;}
.index_hot_sale_goods_img{height: 160px}
.index_hot_sale_goods_img img{width: 100%;height: 100%}

.index_hote_sale_p1{text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin:10px 0;font-size: 14px;}
.index_hot_sale_data{width: 100%;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.index_hot_sale_data_d1{width: 50%;color: #ff6000;font-size: 14px;}
.index_hot_sale_data_d2{width: 50%;color: #999999;text-align: right;font-size: 14px;}


/*首页分类*/
.index_mind_banner{width:100%;}
.index_mind_banner img{width:100%;}
.index_fl_mind{margin-top:10px;}

