@charset"utf-8";
body::-webkit-scrollbar{display:none;}
/*登录页面*/
.top{height:40px;line-height:40px;width:100%;padding:0px 3%;background:#fff;text-align:center;position:fixed;font-size:16px;z-index:10;min-width: 320px;max-width: 640px;}
.top_border_none{border-bottom:none;}
.top_right_font{position:absolute;right:3%;font-size:14px;}
.top_left_img{position:absolute;left:3%;height:20px;top:10px;}
.login_logo_pic{display:block;width:30%;margin:0px auto;margin-top:55px;margin-bottom:20px;}
.login_text{height:45px;border-bottom:#dddddd solid 1px;width:94%;margin:0px 3%;background:#fff;margin-top:10px;padding:0px 10px;border-radius:3px;}
.login_text_img{width:15px;margin-top:12px;display:block;float:left;border-radius:3px;}
.login_zh{width:70%;height:44px;float:left;background:none;margin-left:10px;font-size:14px;color:#333;}
.login_pwd{width:70%;height:44px;float:left;background:none;margin-left:10px;font-size:14px;color:#333;}
.login_zh::-webkit-input-placeholder{color:#cccccc;}
.login_pwd::-webkit-input-placeholder{color:#cccccc;}
.login_clear{float:right;width:20px;height:20px;margin-top:12px;display:none;}
.login_btn{height:44px;width:94%;margin:0px 3%;line-height:44px;border-radius:3px;background:#4f8ffb;text-align:center;color:#fff;font-size:18px;margin-top:15px;}
.login_quse{height:44px;line-height:44px;width:94%;margin:0px 3%;}
.register_now{float:left;font-size:14px;color:#333;}
.forget_pwd{float:right;font-size:14px;color:#333;}
.login_bottom{position:fixed;left:0px;bottom:0px;background:#fff;width:100%;overflow:hidden;height:45px;transition:height 0.5s;}
.login_bottom_other_ts{height:20px;line-height:20px;text-align:center;background:url("../images/border.png") repeat-x;background-position:0px 10px;margin:0px;}
.login_bottom_other_ts span{padding:0px 10px;background:#fff;color:#999999;}
.login_bottom_return_img{width:100%;height:14px;margin:0px;text-align:center;}
.login_bottom_return_img img{height:12px;}
.return_bottom{display:none;}
.login_bottom_other_fs{height:40px;margin:15px 0px 20px 0px;}
.login_wx{height:40px;width:50%;float:left;text-align:right;}
.login_qq{height:40px;width:50%;float:right;}
.login_wx img{width:40px;height:40px;margin-right:30px;}
.login_qq img{width:40px;height:40px;margin-left:30px;}
.login_tc_error{width:100%;text-align:center;position:fixed;top:50%;left:0px;}
.login_tc_error span{color:#fff;background:rgba(0,0,0,0.6);padding:8px 12px;border-radius:4px;}

/*忘记密码页面*/
.zhuce{background:#fff;width:100%;padding-left: 3%;margin-top:55px;}
.zhuce li{height:46px;padding:12px 0px;border-bottom:#dddddd solid 1px;width:100%;}
.zhuce_pic{display:block;height:20px;width:20px;float:left;margin-left:10px;}
.zhuce_pic img{height:100%;}
.zhuce_zh{float:left;width:45%;height:22px;line-height:22px;margin-left:8px;font-size:14px;}
.zhuce_yzm_btn{float:right;margin-right:20px;font-size:14px;color:#333333;border-left:#dddddd solid 1px;padding-left:10px;}
.zhuce_yzm,.zhuce_pwd1,.zhuce_pwd2{float:left;width:60%;height:22px;line-height:22px;margin-left:8px;font-size:14px;}
.zhuce_xy{width:90%;height:20px;line-height:20px;margin:10px 5%;font-size:14px;}
.zhuce_btn{height:40px;line-height:40px;width:94%;margin:0px 3%;background:#52c3f1;text-align:center;color:#fff;border-radius:5px;font-size:18px;margin-top:20px;}
.zhuce_xieyi{color:#ea3838;}
.zhuce input::-webkit-input-placeholder{color:#d3d3d3;}
/*注册页面*/
.zhuce_yzm_img{width:55px;float:right;margin-top:0px;height:22px;margin-right:20px;}
.zhuce_yzm_img img{width:100%;height:100%;}
.zhuce_xy_ch{display:block;position:relative;margin-right:5px;float:left;margin-top:1px;}
.zhuce_xy_choose{position:absolute;visibility:hidden;top:0px;left:0px;}
.zhuce_xy_choose+label{display:inline-block;width:20px;height:20px;border-radius:50%;border:#52c3f1 solid 1px;}
.zhuce_xy_choose:checked+label:before{content:"";position:absolute;top:0px;left:0px;background:#52c3f1;width:20px;height:20px;border-radius:50%;}
.zhuce_xy_choose:checked+label:after {content:"";position:absolute;top:4px;left:3px;width:13px;height:8px;border: 2px solid #fff;border-top-color: transparent;border-right-color: transparent;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/*商品分类页面头部样式*/

.spfl_top{width: 100%;min-width: 320px;max-width: 640px; height:46px;padding: 8px 15px;background:#fff;position:fixed;top:0px;}
.linhaiback{display:block;float: left;margin-right: 15px;width: 30px;height: 30px;}
.linhaisearch{float:left;height: 30px;background: rgba(255,255,255,0.8);width:100%;border-radius: 30px;padding: 5px 15px;background:#f3f3f3;margin:0px;}
.linhaiBtnSearch{display: block;float: left;margin-right: 6px;width: 18px;height: 20px;}
.searchDes{font-size: 16px;color: rgb(183,181,180);float: left;height: 100%;margin-top: -1px;}
/*商品-首页-进货单-个人中心-底部公共样式*/
.index_bottom{width:100%;position:fixed;bottom:0px;background:#fbfbfb;border-top:#dedede solid 1px;height:55px;max-width: 640px;min-width: 320px;}
.index_bottom li{width:25%;float:left;}
.index_bottom_img{width:100%;text-align:center;height:34px;position:relative;margin-top:4px;}
.index_bottom_img img{height:22px;margin-top:6px;}
.index_bottom_font{width:100%;text-align:center;height:;font-size:12px;height:16px;line-height:16px;color:#999999;}
.index_bottom_img1{display:inline}
.index_bottom_img2{display:none;}
.index_bottom_font_onclick{color:#4f8ffb;}
.index_bottom_jhd_number{position:absolute;height:20px;line-height:20px;width:25px;border-radius:20px;background:#e52e27;font-size:12px;display:block;color:#fff;text-align:center;top:0px;left:-webkit-calc(50% + 4px);left:-moz-calc(50% + 4px);left:-o-calc(50% + 4px);left:calc(50% + 4px);overflow:hidden;}
/*商品分类*/
.spfl_body{width: 100%;min-width: 320px;max-width: 640px; height: calc(100% - 137px);height: -webkit-calc(100% - 137px);height: -ms-calc(100% - 137px);height: -moz-calc(100% - 137px);background: #fff;margin-top: 82px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;}
.spfl_left{background: #f2f2f2;width: 30%;height: 100%;overflow-y: scroll;}
.spfl_left::-webkit-scrollbar{display:none;}
.spfl_menus{width: 100%;background: #fff; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row; }
.spfl_menus div{width: 70px;text-align: center;padding-top: 10px;}
.spfl_menus  p{width: 100%;margin-top: 10px;height: 2px}
.spfl_right{width: 100%;height: 100%;overflow-y: scroll;}
.spfl_right::-webkit-scrollbar{display:none;}
.spfl_banner{width: 100%;/*height: 115px;*/margin-bottom: 20px;}
.spfl_banner img{width: 100%;/*height: 100%;*/}
.spfl_part{width: 100%;margin-top: 10px;}
.spfl_part_tit{width: 100%;text-align: center;}
.spfl_part_tit b{font-weight: normal;}
.spfl_tit_s1{width: 40px;height: 20px; background: url(../images/class_line_left@3x.png) no-repeat;background-position: 12px 7px;background-size: 50% 25%;}
.spfl_tit_s2{width: 40px;height: 20px; background: url(../images/class_line_right@3x.png) no-repeat;background-position: 8px 7px;background-size: 50% 25%;}
.spfl_part_tit span{display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.spfl_part_list{width: 100%;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.spfl_class{width: 33.3%;padding: 10px;}
.spfl_class p{text-align: center;font-size: 12px;}
.spfl_part_listimg{width: 80px;height: 80px;}
.spfl_part_listimg img{width: 100%;height: 100%;}
.spfl_left_list{width: 100%;}
.spfl_left_list li{height:60px;line-height:60px;width:100%;text-align:center;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0px 5px;}
.spfl_left_li_onclick{color:#4f8ffb;font-size:16px!important;background: #fff;}
/*详细商品详情*/
.xqsp_top_sousuo{width:20px;height:20px;position:absolute;right:3%;top:10px;}
.xxsp_list{width:100%;-webkit-overflow-scrolling:touch;overflow-x:scroll;height:45px;background:#fff;position:fixed;top:40px;left:0px;}
.xxsp_list::-webkit-scrollbar{display:none;}
.xxsp_list_con{width:-webkit-calc(100% / 5 * 100);width: calc(100% / 5 * 100);}
.xxsp_list_con li{float:left;text-align:center;font-size:16px;background:white;height:45px;border-bottom:#fff solid 2px;line-height:43px;padding:0px 10px;color:#333;}
.xxsp_list_con .xxsp_list_con_onclick{border-bottom:#4f8ffb solid 2px;color:#4f8ffb;}
.xxsp_mind{width:100%;margin-top:97px;}
.xxsp_mind_ul{width:-webkit-calc(100% - 24px);width:calc(100% - 24px);margin:0px 12px 8px 12px;overflow:hidden;}
.xxsp_mind_ul li{width:-webkit-calc(50% - 4px);background:#fff;float:left;padding-bottom:2px;}
.xxsp_mind_ul li:first-child{margin-right:8px;}
.xxsp_mind_pic{width:100%;background-image:url("../images/goods_img_default.png");background-repeat:no-repeat;background-size:100%;}
.xxsp_mind_pic img{width:100%;}
.xxsp_mind_name{width:100%;padding:0px 5px;color:#333;font-size:14px;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.xxsp_mind_xq{width:100%;padding:0px 5px;height:20px;line-height:20px;overflow:hidden;margin-top:3px;}
.xxsp_mind_price{width:60%;height:20px;line-height:20px;float:left;color:#ea3838;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.xxsp_mind_price b{font-weight:normal;font-size:12px;}
.xxsp_mind_number{font-size:12px;color:#999999;float:left;width:40%;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*圆框对勾样式*/
.round_checkbox_con2{display:block;position:relative;width:20px;height:20px;margin-bottom:20px;}
.round_checkbox2{position:absolute;visibility:hidden;top:0px;left:0px;}
.round_checkbox2+label p{margin-left:25px;width:80px;height:20px;line-height:20px;}
.round_checkbox2+label{position:absolute;left:0px;top:0px;width:20px;height:20px;background:#fff;border-radius:100%;box-sizing:border-box;border:#bbb solid 1px;}
.round_checkbox2:checked+label p{margin-left:26px;margin-top:1px;}
.round_checkbox2:checked+label{content:"";position:absolute;top:0px;left:0px;width:20px;height:20px;background:#f9b552;border:none;border-radius:100%;}
.round_checkbox2:checked+label:before{content:"";position:absolute;top:6px;left:4px;width:12px;height:7px;border-bottom:#fff solid 2px;border-left:#fff solid 2px;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
/*进货单页面    2017-5-12 改 XJ*/  
.jhd_con{margin-top:50px;margin-bottom:115px;}
.jhd_con_ul{background:#fff;width:100%;border-bottom:#dddddd solid 1px;margin-bottom:10px;}
.jhd_con_ul_title{height:40px;background:#fff;width:100%;padding:0px 3%;line-height:40px;overflow-y:hidden;}
.jhd_dp_check{float:left;margin-top:10px;}
.jhd_con_title_img{float:left;height:16px;margin-top:12px;margin-left:5px;}
.jhd_con_title_font{display:block;float:left;height:40px;line-height:40px;width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:5px;color:#333;}
.jhd_con_title_jr{float:right;height:16px;margin-top:12px;}
.jhd_con_ul li{height:110px;padding:10px 3%;width:100%;overflow:hidden;background: #f8f7f7;}
.top_margin{margin-top: 10px;}
.jhd_sp_check{float:left;margin-top:20px;}
.jhd_sp_pic{width:90px;height:90px;overflow:hidden;float:left;margin-left:5px;}
.jhd_sp_pic img{width:100%}
.jhd_sp_content{float:left;width:-webkit-calc(100% - 20px - 90px - 5px);width:calc(100% - 20px - 90px - 5px);height:90px;padding-left:10px;}
.jhd_sp_content_name{width:100%;height:30px;line-height:15px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient: vertical;display:-webkit-box;font-size:12px;}
.jhd_sp_content_jhl{font-size:12px;width:100%;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jhd_sp_content_xq{width:100%;overflow:hidden;}
.jhd_sp_content_price{display:block;float:left;width:100%;overflow:hidden;color:#ea3838;font-size:14px;}
.jhd_sp_content_price b{font-weight:normal;font-size:12px;}
.jhd_sp_content_number{display:block;float:left;width:29%;color:#666666;font-size:12px;margin-left:3px;margin-top: 5px;}
.jhd_sp_content_choose{height:20px;display:block;float:right;overflow:hidden;margin-top:5px;}
.jhd_sp_content_choose_js{display:block;width:20px;height:20px;float:left;border:#999999 solid 1px;border-right:none;text-align:center;line-height:16px;color:#4f8ffb;}
.jhd_sp_content_choose_add{display:block;width:20px;height:20px;float:left;border:#999999 solid 1px;border-left:none;text-align:center;line-height:16px;color:#4f8ffb;}
.jhd_sp_content_choose_input{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none; display:block;width:30px;height:20px;float:left;border:#999999 solid 1px;text-align:center;line-height:18px;color:#333333;font-size:14px;}
.jhd_con_ul_titlt_sx{color:#333;font-size:14px;line-height:40px;height:40px;width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jhd_con_ul_sx_img{float:right;display:block;height:22px;margin-top:9px;margin-right:5px}
.jhd_con_ul_sx_font{float:right;font-size:12px;color:#999999;display:block;line-height:40px;}
.jhd_con_ul .jhd_con_sx_li{padding-left:0px;}
.jhd_sxsp_content{width:-webkit-calc(100% - 90px - 5px - 3% - 20px);width:calc(100% - 90px - 5px - 3% - 20px);width:-moz-calc(100% - 90px - 5px - 3% - 20px);width:-ms-calc(100% - 90px - 5px - 3% - 20px);}
.jhd_con_sx_font{display:block;width:calc(3% + 17px);float:left;margin-left:3px;font-size:12px;background:#aaaaaa;color:#fff;border-radius:3px;height:18px;line-height:18px;margin-top:36px;text-align:center;}
.jhd_wc{display:none;}
.jhd_js_bottom{width:100%;height:50px;background:#fff;border-top:#dddddd solid 1px;position:fixed;bottom:55px;left:0px;padding-left:3%;}
.jhd_js_bottom_left_con{float:left;width:75%;height:49px;overflow:hidden;}
.jhd_js_bottom_btn{float:right;width:25%;height:49px;line-height:49px;background:#f9b552;color:#fff;text-align:center;font-size:16px;}
.jhd_all_check{float:left;margin-top:14px;width:60px;}
label{font-weight:normal;}
.jhd_js_bottom_allprice{display:block;float:left;width:calc(100% - 60px);height:20px;line-height:20px;padding:0px 5px;text-align:right;margin-top:7px;font-size:12px;color:#333333;}
.jhd_js_bottom_price{color:#ea3838;font-size:16px;}
.jhd_js_bottom_price b{font-size:12px;font-weight:normal;}
.jhd_js_bottom_spnumber{display:block;float:left;width:calc(100% - 60px);height:20px;line-height:20px;padding:0px 5px;text-align:right;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jhd_js_bottom_spnumber span{color:#ea3838;}
.jhd_js_bottom_btn_del{display:none;}
/*wap端弹窗样式*/
.wap_tc_bj{position:fixed;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:100;box-sizing:border-box;}
.wap_tc_content{position:absolute;width:90%;left:0px;top:50%;margin:0px 5%;background:#fff;border-radius:6px;overflow:hidden;box-sizing:border-box;font-size:16px;padding-top:20px;z-index:1;}
.wap_tc_ts1{box-sizing:border-box;width:100%;padding:0px 20px;line-height:20px;text-align:center;margin-bottom:5px;}
.wap_tc_choose{box-sizing:border-box;height:40px;border-top:#dddddd solid 1px;color:#03a2fd;margin-top:20px;}
.wap_tc_choose_cancel{box-sizing:border-box;display:block;float:left;width:50%;height:40px;line-height:40px;border-right:#dddddd solid 1px;text-align:center;color:#999999;}
.wap_tc_choose_confirm{box-sizing:border-box;display:block;float:left;width:50%;height:40px;line-height:40px;text-align:center;}
/*进货单--空*/
.gwc_none_img{display:block;width:20%;margin:0px auto;margin-top:46%;}
.gwc_none_ts{font-size:14px;text-align:center;margin-top:5px;color:#333;height:20px;line-height:20px;color:#333333;}
.first_gwc_none_ts{margin-top:0px;}
.gwc_none_btn{color:#f19149;border:#f19149 solid 1px;border-radius:4px;font-size:14px;width:65px;text-align:center;height:30px;line-height:28px;margin:0px auto;margin-top:7px;}
/*商家首页*/
.sjindex_top{border-bottom:none;background:#4f8ffb;color:#fff;}
.sj_header{position:fixed;top:40px;left:0px;width:100%;background:#4f8ffb;}
.sj_header_tx{width:70px;height:70px;overflow:hidden;border-radius:50%;margin:0px auto;margin-top:6px;}
.sj_header_tx img{width:100%;}
.sj_name1_img2{display:none;}
.sj_header_sc{position:absolute;right:5px;bottom:5px;text-align:center;font-size:12px;color:#fff;width:40px;line-height:20px;}
.sj_header_sc_img{width:20px;height:20px;display:block;margin:0px auto;margin-bottom:2px;}
.sj_header_sc_img2{width:22px;height:20px;display:block;margin:0px auto;margin-bottom:2px;}
.sj_header_name{text-align:center;margin:10px 0px;}
.sj_header_name .sj_header_name_yrenz{display:inline-block;min-width:80px;height:22px;line-height:22px;background-image:url("../images/sj_name1.png");background-position:2px 2px;background-size:18px 18px;background-repeat:no-repeat;font-size:12px;color:#fff;padding-left:20px;background-color:#eac152;padding-right:4px;border-radius:28px;padding-right:5px;}
.sj_header_name .sj_header_name_wrenz{display:none;min-width:70px;height:22px;line-height:22px;background-image:url("../images/sj_name2.png");background-position:2px 2px;background-size:18px 18px;background-repeat:no-repeat;font-size:12px;color:#fff;padding-left:20px;background-color:#dddcdc;padding-right:4px;border-radius:28px;padding-right:5px;}
.sj_content{width:100%;top:202px;bottom:0px;z-index:20;overflow-y:auto;background:#f2f2f2;position:fixed;left:0px;}
.sj_content::-webkit-scrollbar{display: none;}
.sj_content_list{width:100%;padding:8px 0px;height:42px;background:#fff;overflow:hidden;top:160px;left:0px;position:fixed;background:#fff;border-bottom:#f2f2f2 solid 1px;}
.sj_content_list li{width:25%;float:left;color:#333;text-align:center;background:#fff;height:26px;line-height:26px;font-size:14px;}

.sj_content_list li span{display:inline-block;max-width:70%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.xl_img{height:6px;margin-left:4px;vertical-align:top;margin-top:12px;}
.xl_xz_img{height:6px;margin-left:4px;display:none;vertical-align:top;margin-top:12px;}
.xl_fl_img{height:6px;margin-left:4px;display:none;vertical-align:top;margin-top:12px;}
.sj_content_fl_list{width:100%;background:#fff;position:fixed;top:202px;bottom:0px;z-index:30;display:none;left:0px;}
.sj_content_fl_list li{width:97%;border-bottom:#f2f2f2 solid 1px;height:40px;line-height:20px;font-size:14px;color:#333;padding:10px 0px;margin-left:3%;}
.sj_content_fl_list li span{display:inline-block;width:85%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.choose_xz{height:15px;vertical-align:top;margin-top:3px;float:right;margin-right:3%;display:none;}
.hot_sale_content li{box-sizing:content-box;}
.hot_sale_xq_yh{margin-top:11px;}
.hot_sale_xq_price{margin-top:11px;}
/*商家详细信息*/
.sjxx_mind{width:100%;margin-top:40px;}
.sjxx_mind_con{width:100%;padding-left:3%;background:#fff;}
.sjxx_mind_con li{width:100%;border-bottom:#dddddd solid 1px;line-height:22px;padding:10px 0px;padding-right:3%;color:#333;font-size:14px;}
.sjxx_phone_btn{position:fixed;bottom:0px;left:0px;height:50px;font-size:18px;text-align:center;line-height:50px;color:#fff;background:#4f8ffb;width:100%;}
/*搜索*/
.search_top .linhaisearch{width:90%;margin-left:10%;}
.search_top_return{position:absolute;left:3%;height:26px;top:10px;}
.search_list{top:46px;border-bottom:none;}
.search_content{position:static;margin-top:88px;}
.search_content::-webkit-scrollbar{display: none;}
.hot_sale_content_img{background:url("../images/goods_img_default@2x.png") no-repeat;background-size:100%;} 
.hot_sale_xq_city{display:none;float:right;height:20px;line-height:20px;font-size:12px;color:#999999;width:52px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*搜索-城市弹窗样式*/
.search_city{position:fixed;top:88px;bottom:0px;left:0px;width:100%;background:#f2f2f2;display:none;z-index:4;}
.search_city_left{position:absolute;left:0px;top:0px;bottom:0px;width:25%;background:#fff;overflow-y:auto;}
.search_city_left::-webkit-scrollbar{display:none;}
.search_city_left li{background:#fff;width:100%;height:45px;line-height:45px;border-bottom:#e8e8e8 solid 1px;text-align:center;padding:0px 5px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333;border-left:#ffffff solid 2px;}
.search_city_left .search_city_left_onclick{color:#4f8ffb;border-left:#4f8ffb solid 2px;}
.search_city_right{position:absolute;left:25%;top:0px;bottom:0px;background:#f2f2f2;width:75%;padding-left:3%;overflow-y:auto;}
.search_city_right::-webkit-scrollbar{display:none;}
.search_city_right li{width:100%;font-size:14px;background:#f2f2f2;height:45px;line-height:45px;border-bottom:#e4e4e4 solid 1px;}
.search_city_right .search_city_right_onclick{color:#4f8ffb;}
/*搜索-分类弹窗样式*/
.search_fl{position:fixed;top:88px;bottom:0px;left:0px;width:100%;background:#f2f2f2;display:none;z-index:4;}
.search_fl_left{position:absolute;left:0px;top:0px;bottom:0px;width:25%;background:#fff;overflow-y:auto;} 
.search_fl_left::-webkit-scrollbar{display:none;}
.search_fl_left li{background:#fff;width:100%;height:45px;line-height:45px;border-bottom:#e8e8e8 solid 1px;text-align:center;padding:0px 5px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333;border-left:#ffffff solid 2px;}
.search_fl_left .search_fl_left_onclick{color:#4f8ffb;border-left:#4f8ffb solid 2px;}
.search_fl_right{position:absolute;left:25%;top:0px;bottom:0px;background:#f2f2f2;width:75%;padding-left:3%;overflow-y:auto;padding-top:10px;}
.search_fl_right::-webkit-scrollbar{display:none;}
.search_fl_right li{width:calc(33.3% - 10px);float:left;height:35px;line-height:35px;overflow:hidden;padding:0px 5px;font-size:12px;text-align:center;border:#dddddd solid 1px;background:#fff;border-radius:4px;margin-right:10px;margin-bottom:10px;text-overflow:ellipsis;white-space:nowrap;}
.search_fl_right .search_fl_right_li_all{width:calc(100% - 10px);}
.search_fl_right .search_fl_right_onclick{color:#4f8ffb;border:#4f8ffb solid 1px;}
.search_zhiding{width:30px;height:30px;position:fixed;bottom:50px;right:15px;z-index:2;}
.search_zhiding img{width:100%;}

/*搜索为空*/
.search_list_top{width:100%;height:44px;background:#fff;border-bottom:#dddddd solid 1px;padding:0px 3%;position:fixed;top:0px;min-width: 320px;max-width: 640px;}
.search_list_top_sousuo{display:block;width:calc(100% - 50px);background:#f3f3f3;float:left;height:32px;line-height:32px;margin-top:6px;border-radius:32px;}
.search_list_top_qx{display:block;float:right;font-size:14px;width:30px;height:44px;line-height:44px;}
.search_list_top_choose{font-weight:normal;font-size:14px;margin-left:10px;line-height:32px;color:#999999;}
.search_list_top_select_img{height:5px;margin-left:2px;}
.search_list_top_sousuo_input{width:calc(100% - 80px);height:32px;background:none;font-size:14px;padding:0px 10px;color:#333;}
.search_list_top_sousuo_input::-webkit-input-placeholder{color:#cccccc;}
.search_list_top_sousuo_clear{width:18px;height:18px;vertical-align:text-top;margin-top:2px;display:none;}
.search_list_top_choose_tc{position:absolute;left:3%;top:40px;background:#333333;border-radius:8px;display:none;}
.search_list_top_choose_tc li{font-size:16px;color:#fff;height:50px;line-height:50px;width:140px;border-bottom:#444444 solid 1px;padding:0px 15px;}
.search_list_top_choose_tc li:last-child{border-bottom:none;}
.search_list_top_choose_tc li img{height:20px;vertical-align:text-top;margin-top:2px;margin-right:20px;}
.search_list_top_choose_tc::before{position:absolute;content:"";width:13px;height:13px;background:#333333;top:-6px;left:20px;transform:rotate(45deg);}
.search_con{width:100%;margin-top:44px;}
.search_none_img{display:block;margin:0px auto;width:25%;margin-top:50%;}
.search_none_font{font-size:14px;text-align:center;color:#333;margin-top:5px;}
/*搜索页面*/
.search_border_none{border-bottom:none;}
.search_con_all{width:100%;padding:0px 3%;padding-top:5px;overflow:hidden;}
.search_con_all_font{font-size:12px;color:#999999;height:20px;line-height:20px;margin-bottom:10px;}
.search_con_all li{background:#f0f0f0;font-size:14px;color:#333333;float:left;margin-right:12px;margin-bottom:12px;padding:5px 10px;border-radius:5px;max-width:105px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.search_history{width:100%;}
.search_history_font{width:100%;padding:0px 3%;font-size:12px;color:#999999;border-bottom:#dddddd solid 1px;height:40px;line-height:40px;}
.search_history li{width:94%;margin:0px 3%;height:45px;line-height:45px;font-size:14px;color:#666;border-bottom:#dddddd solid 1px;}
.search_history_clear{margin:30px auto 50px;font-size:14px;border:#dddddd solid 1px;border-radius:5px;height:30px;line-height:30px;text-align:center;width:160px;color:#999999;}
.search_history_ts{font-size:12px;color:#999999;text-align:center;margin:50px 0px;display:none;}
/*搜索完成*/
.search_wc{width:100%;}
.search_wc li{width:94%;margin:0px 3%;height:44px;line-height:43px;border-bottom:#dddddd solid 1px;color:#666666;font-size:14px;padding:0px 5px;}
/*搜索结果-商家列表*/
.sjlb_img{background:url("../images/seller_head_img_default@2x.png") no-repeat;background-size:100%;}
.sjlb_sale_content{border-top:#dddddd solid 1px;}
.sjlb_jyfw{font-size:12px;width:98%;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;color:#666666;}
.sjlb_rzzb{margin:0px;text-align:left;}
.sjlb_rzzb .sj_header_name_yrenz{height:18px;line-height:18px;background-size:16px 16px;background-position:2px 1px;display:inline-block;}
.sjlb_rzzb .sj_header_name_wrenz{height:18px;line-height:18px;background-size:16px 16px;background-position:2px 1px;}
.sjlb_xq_num{width:100%;}
.sjlb_xq_number{display:block;float:left;width:30%;font-weight:normal;font-size:12px;color:#666666;height:20px;line-height:20px;margin-top:3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sjlb_xq_number span{color:#ff5a00;float:left;display:block;max-width:62%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sjlb_xq_jyl{display:block;float:left;width:45%;font-weight:normal;font-size:12px;color:#666666;height:20px;line-height:20px;margin-top:3px;overflow:hidden;text-overflow:ellipsis;}
.sjlb_xq_jyl span{color:#ff5a00;float:left;display:block;max-width:60%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sjlb_xq_city{display:block;float:left;text-align:right;width:25%;margin-top:3px;height:20px;line-height:20px;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*商品详情页   2017-5-15 xj 改*/
.content_mind{width:100%;margin-top:40px;background:#fff;}
.spxq_content{margin-bottom:50px;}
.spxq_content_pic{width:100%;background:#fff;overflow:hidden;position:relative;}
.spxq_content_pic img{width:100%;}
.spxq_content_spbz{position:absolute;left:0px;bottom:10px;right:0px;overflow:hidden;margin:0px auto;text-align: center;}
.spxq_content_spbz li{font-size:12px;text-align:center;color:#1cacea;border:#1cabea solid 1px;height:20px;line-height:20px;width:70px;border-radius:2px;background:none;display: inline-block;}
.spxq_content_spbz li:last-child{margin-right:0px;}
.spxq_content_title{width:100%;padding:13px 0px;border-bottom:#dddddd solid 1px;}
.spxq_content_zhutitle{width:100%;padding:0px 10px;line-height:18px;font-size:16px;color:#333;text-align:center;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display: -webkit-box;}
.spxq_content_futitle{width:100%;padding:0px 10px;height:20px;line-height:20px;font-size:12px;color:#999999;text-align:center;margin-top:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_pfl{padding:13px 0px;width:100%;overflow:hidden;border-bottom:#dddddd solid 1px;}
.spxq_content_pfl li{float:left;width:33.3%;text-align:center;margin: 0 auto;}
.goods_pricenum_box{display: flex;display: -webkit-flex;justify-content: space-around;}
.goods_pricenum{text-align: center;}
.spxq_content_pfl_jg{font-size:14px;color:#ea3838;height:20px;line-height:20px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_pfl_number{font-size:12px;color:#666666;height:20px;line-height:20px;margin-top:5px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_cdgg{width:100%;padding:13px 3%;overflow:hidden;border-bottom:#dddddd solid 1px;}
.spxq_content_xqgg{width:100%;}
.spxq_content_xqgg li{font-size:12px;color:#333;overflow:hidden;line-height:16px;margin-bottom:5px;}
.spxq_content_xqgg li:last-child{margin-bottom:0px;}
.spxq_content_xqgg_cd{float:left;width:70%;}
.spxq_content_xqgg_title{float:left;display:block;max-width:70px;}
.spxq_content_xqgg_con{color:#666666;float:left;display:block;width:calc(100% - 70px);}
.spxq_content_xqxl{float:left;font-size:12px;width:30%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
.spxq_content_xqxl b{font-weight:normal;color:#666;}
.spxq_content_gsxx{width:100%;padding:13px 3%;border-bottom:#dddddd solid 1px;overflow:hidden;}
.spxq_content_gs_pic{width:70px;height:70px;float:left;}
.spxq_content_gs_pic img{width:100%;}
.spxq_content_gs_con{margin-left:70px;width:calc(100% - 70px);padding-left:8px;}
.spxq_content_gs_name{font-size:14px;width:100%;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_jyfw{font-size:12px;width:100%;height:18px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.spxq_content_gs_slcon{font-size:12px;width:100%;height:18px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.spxq_content_gs_slcon li{float:left;}
.spxq_content_gs_number{width:30%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666666;}
.spxq_content_gs_number span{display:block;float:left;color:#ff5a00;max-width:45%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_jyl{width:45%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666666;}
.spxq_content_gs_jyl span{display:block;float:left;color:#ff5a00;max-width:60%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_city{width:25%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666666;text-align:right;}
.spxq_content_twxq{width:100%;}
.spxq_content_twxq_title{border-bottom:#dddddd solid 1px;width:100%;height:40px;line-height:40px;padding:0px 3%;font-size:12px;}
.spxq_content_twxq_pic{width:100%;font-size:12px;line-height:20px;}
.spxq_content_twxq_pic img{width:100%;}
.spxq_bottom{position:fixed;bottom:0px;left:0px;width:100%;height:50px;border-top:#dddddd solid 1px;overflow:hidden;background:#fff;}
.spxq_bottom_jhd{float:left;height:49px;float:left;width:50px;position:relative;}
.spxq_bottom_jhd_img{display:block;height:20px;margin:0px auto;margin-top:6px;}
.spxq_bottom_jhd_img_sc{display:none;height:20px;margin:0px auto;margin-top:6px;}
.spxq_bottom_jhd_font{font-size:12px;color:#24aaeb;text-align:center;width:100%;height:15px;line-height:15px;margin-top:5px;}
.spxq_bottom_jhd_number{position:absolute;color:#fff;background:#ea3838;font-size:12px;top:2px;left:calc(50% + 3px);height:16px;line-height:16px;width:23px;overflow:hidden;text-align:center;border-radius:20px;}
.spxq_bottom_dp_font{font-size:12px;color:#333;text-align:center;width:100%;height:15px;line-height:15px;margin-top:5px;}
.spxq_bottom_add_gwc{float:left;width:calc((100% - 150px)/2);height:49px;background:#f8b551;color:#fff;font-size:16px;text-align:center;line-height:49px;}
.spxq_bottom_buying{float:left;width:calc((100% - 150px)/2);height:49px;background:#4f8ffb;color:#fff;font-size:16px;text-align:center;line-height:49px;}
/*购物弹窗*/
.spxq_gw{position:absolute;bottom:0px;background:#fff;left:0px;width:100%;}
.spxq_gw_content_pfl{padding:10px 3%;}
.spxq_gw_content_pfl li{border:#fff solid 1px;}
.spxq_xx{padding:10px;border-bottom:#dddddd solid 1px;}
.spxq_xx_name{width:100%;line-height:20px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;}
.spxq_xx_jhl{width:100%;font-size:12px;color:#666666;margin-top:5px;height:20px;line-height:20px;}
.spxq_gw_content_pfl .spxq_gw_content_pfl_click{border:#f9b552 dashed 1px;border-radius:5px;}
.spxq_gw_content_address{height:40px;line-height:40px;width:100%;padding:0px 3%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size:12px;color:#666666;border-bottom:#dddddd solid 1px;}
.spxq_gw_sl{width:94%;padding:8px 0px;margin:0px 3%;border-bottom:#dddddd solid 1px;}
.spxq_gw_sl_cz{overflow:hidden;margin:10px auto;width:160px;overflow:hidden;}
.spxq_gw_sl_font{font-size:14px;color:#333;height:16px;line-height:16px;width:100%;}
.spxq_gw_number{width:80px;height:30px;text-align:center;border:#cccccc solid 1px;display:block;float:left;}
.spxq_gw_number_zj{width:30px;height:30px;float:left;display:block;text-align: center;border-radius: 100%;border:1px solid #dddddd;font-size: 26px;color: #4f8ffb;}
.spxq_gw_js{margin-right:10px;}
.spxq_gw_add{margin-left:10px;}
.spxq_gw_number_choose_yes{display:none;}
.spxq_gw_jg{width:100%;padding:0px 3%;height:40px;overflow:hidden;}
.spxq_gw_jg_sl{display:block;float:right;height:40px;line-height:43px;color:#333;max-width:40%;font-size:12px;padding-right:10px;}
.spxq_gw_jg_sl span{color:#eb4d4d;}
.spxq_gw_jg_price{float:right;display:block;font-size:12px;height:40px;line-height:40px;color:#333;max-width:60%;}
.spxq_gw_jg_price b{font-size:16px;font-weight:normal;color:#e50118;}
.spxq_gw_tj_btn{height:45px;line-height:45px;width:100%;color:#fff;background:#4f8ffb;font-size:16px;text-align:center;}
.spxq_gw_gb_img{width:30px;height:30px;position:absolute;top:-40px;right:3%;}
.spxq_content_pfl_number_tc{font-size:12px;color:#666666;height:20px;line-height:20px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_pfl_jg_tc{font-size:14px;color:#999999;height:20px;line-height:20px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.spxq_content_pfl_jg_tc_click{color:#ea3838;}
/*商家为空*/
.scarch_sjwk{width:100%;position:fixed;top:98px;bottom:0px;left:0px;background:#fff;}
.scarch_sjwk img{display:block;width:20%;margin:0px auto;margin-top:calc(50% - 50px);}
.scarch_sjwk_ts{font-size:12px;color:#333;text-align:center;line-height:16px;margin-top:8px;}
/*直通车*/
.ztc_mind{margin-top:40px;}
.ztc_content_banner{width:100%;}
.ztc_content_banner img{width:100%;}
.ztc_content_address{width:100%;color:#999999;font-size:12px;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:3px;}
.ztc_content_address_img{height:14px;vertical-align: text-top;margin-top: 1px;margin-right: 4px;}
.ztc_sale_xq_yh{margin-top:2px;}
.ztc_sale_xq_price{margin-top:6px;}
.ztcxq_content_pfl_number{margin-top:0px;}
.ztcxq_content_pfl_jg{margin-top:5px;}
/*直通车商品详情*/
.spztc_bottom{background:#ffffff;color:#999999;font-size:16px;text-align:center;line-height:50px;}
.ztcxq_content_futitle{width:100%;padding:0px 10px;line-height:16px;font-size:12px;color:#999999;text-align:center;margin-top:10px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display: -webkit-box;}
.ztcxq_spgg{width:100%;padding:0px 10px;height:20px;line-height:20px;margin-top:8px;}
.ztcxq_spgg_jhl{height:20px;line-height:20px;float:left;display:block;font-size:12px;color:#666666;width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ztcxq_spgg_xl{height:20px;line-height:20px;float:left;display:block;font-size:12px;color:#999999;width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
.ztcxq_rdzb{width:100%;padding:12px 10px;overflow:hidden;border-bottom:#dddddd solid 1px;}
.ztcxq_rdzb li{font-size:12px;border-radius:3px;color:#00a3ea;border:#00a3ea solid 1px;text-align:center;height:18px;line-height:18px;width:70px;float:left;margin-right:5px;}
.ztcxq_content_xqgg{width:100%;}
.ztc_content_gs_pic{background:url("../images/ztc_dj_img.png") no-repeat;background-size:100%;}
.ztcxq_content_gs_jyfw{font-size:12px;width:100%;line-height:14px;overflow: hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;margin-top:2px;}
.ztcxq_content_gs_address{width:100%;height:18px;line-height:18px;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:3px;}
/*直通车商品详情-未开始*/
.spztc_bottom_jqqd{width:100%;font-size:16px;color:#36bbf2;text-align:center;height:20px;line-height:20px;margin-top:5px;}
.spztc_bottom_active_time{width:100%;font-size:12px;color:#999999;font-size:12px;text-align:center;height:14px;line-height:14px;margin-top:3px;}
.tjsj_list{width:94%;margin:0px 3%;margin-top:50px;}
.tjsj_list li{width:100%;margin-bottom:10px;overflow:hidden;background:url("../images/shop_banner_default@2x.png") no-repeat;background-size:100%;}
.tjsj_list li img{width:100%;}
/*市场资讯*/
.sczx_list{width:100%;margin-top:10px;background:#fff;}
.sczx_list li{width:94%;padding:10px 0;margin:0px 3%;overflow:hidden;border-bottom:#dddddd solid 1px;}
.sczx_pic{width:100px;height:75px;float:left;overflow:hidden;background:url("../images/info_list_default@2x.png") no-repeat;background-size:100%;}
.sczx_pic img{width:100%;}
.sczx_con{float:left;width:calc(100% - 100px);padding-left:6px;overflow:hidden;}
.sczx_name{font-size:16px;height:40px;line-height:20px;font-weight:bold;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;color:#333333;}
.sczx_time{font-size:12px;color:#999999;height:20px;line-height:20px;margin-top:15px;}
.sczx_time img{height:14px;vertical-align:text-top;margin-top:2px;margin-right:5px;}
.sczx_none{width:100%;background:#f2f2f2;}
.sczx_none img{width:20%;display:block;margin:0px auto;margin-top:calc(50% - 60px);}
.sczx_none_ts{text-align:center;font-size:12px;color:#333;height:20px;line-height:20px;margin-top:5px;}
/*弹窗背景色*/
.tc_bj{width:100%;top:0px;left:0px;height:100%;background:rgba(0,0,0,0.6);position:fixed;z-index:40;}
/*生态圈-圈子*/
.stq_gz_img{width:20px;height:20px;position:absolute;right:3%;top:10px;}
.stq_ygz{height:20px;border:#fff solid 1px;line-height:18px;font-size:12px;color:#fff;text-align:center;padding:0px 5px;border-radius:10px;position:absolute;right:3%;top:10px;display:none;}
.stq_top{width:100%;position:fixed;top:40px;left:0px;background:#4f8ffb;z-index:10;}
.stq_top_tx{position:absolute;width:70px;height:70px;overflow:hidden;text-align:center;border-radius:100%;left:calc(50% - 35px);top:-10px;z-index:10;}
.stq_top_tx img{width:100%;height:100%;}
.stq_top_title{width:100%;padding:0px 3%;text-align:center;color:#fff;font-size:16px;height:20px;line-height:20px;margin-top:65px;}
.stq_top_by{width:100%;padding:0px 3%;text-align:center;text-align:center;color:#fff;font-size:12px;height:20px;line-height:20px;margin-top:3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.stq_nav{width:100%;background:#fff;overflow:hidden;border-bottom:#dddddd solid 1px;margin-top:10px;z-index:10;}
.stq_nav li{float:left;width:calc(50% - 20px);margin:0px 10px;font-size:16px;color:#333;height:20px;height:45px;line-height:45px;text-align:center;}
.stq_nav .stq_nav_onlick{border-bottom:#4f8ffb solid 2px;color:#4f8ffb;}
.stq_bottom{position:fixed;width:100%;left:0px;bottom:0px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:18px;background:#4f8ffb;display:none;}
.stq_con{margin-top:214px;margin-bottom:0px;}
.stq_con_ygz{margin-bottom:50px;}
.stq_jx_list{width:100%;background:#fff;}
.stq_jx_list li{overflow:hidden;padding:10px 0px;background:#fff;width:94%;margin:0px 3%;border-bottom:#dddddd solid 1px;}
.stq_con_pic{float:left;width:106px;height:80px;overflow:hidden;overflow:hidden;background:url("../images/post_no_pic@2x.png") no-repeat;background-size:100%;}
.stq_con_pic img{width:100%;height:100%;}
.stq_con_xq{float:left;width:calc(100% - 106px);padding-left:8px;}
.stq_con_title{width:100%;line-height:20px;font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;}
.stq_con_yhxq{width:100%;height:16px;margin-top:22px;}
.stq_con_yhnc{float:left;display:block;width:50%;height:16px;color:#666666;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:16px;}
.stq_con_yhpl{float:right;max-width:calc(25% - 4px);font-size:12px;height:16px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666666;}
.stq_con_yhpl img{height:13px;vertical-align:text-top;margin-top:2px;margin-right:2px;}
.stq_con_yhdz{float:right;max-width:calc(25% - 4px);font-size:12px;height:16px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666666;margin-right:8px;}
.stq_con_yhdz img{height:13px;vertical-align:text-top;margin-top:1px;margin-right:2px;}
/*生态圈为空样式*/
.stq_con_none{position:fixed;width:100%;left:0px;top:204px;bottom:0px;background:#f2f2f2;z-index:10;display:none;}
.stq_con_none img{display:block;width:20%;margin:0px auto;margin-top:20%;}
.stq_con_none_ts{text-align:center;color:#333;height:20px;line-height:20px;margin-top:8px;font-size:12px;}
/*生态圈*/
.stq_lby{position:fixed;left:0px;top:40px;margin-top:0px;}
.stq_lby li{width:calc(33.3% - 20px);}
.stq_lby_con{margin-top:96px;}
.stq_list{background:#fff;}
.stq_list li{width:94%;overflow:hidden;padding:10px 0px;margin:0px 3%;border-bottom:#dddddd solid 1px;}
/*发现圈子*/
.stq_find_list{width:100%;background:#fff;}
.stq_find_list li{width:94%;margin:0px 3%;border-bottom:#dddddd solid 1px;overflow:hidden;padding:10px 0px;}
.stq_find_list li:last-child{border-bottom:none;}
.stq_find_pic{width:80px;height:80px;overflow:hidden;float:left;}
.stq_find_pic img{width:100%;height:100%;}
.stq_find_xq{width:calc(100% - 80px - 55px);float:left;padding:0px 8px;}
.stq_find_xq_name{width:100%;height:20px;line-height:20px;font-size:16px;margin-top:7px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.stq_find_xq_js{width:100%;height:16px;line-height:16px;font-size:12px;margin-top:29px;color:#666666;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.stq_find_ygz{display:block;font-size:12px;color:#999999;height:20px;line-height:20px;border:#cccccc solid 1px;width:55px;text-align:center;border-radius:10px;float:right;margin-top:30px;display:none;}
.stq_find_wgz{width:20px;height:20px;float:right;margin:30px 15px 0px 0px;}
/*我的圈子*/
.stq_my_list li .stq_find_wgz{display:none;}
.stq_my_list li .stq_find_ygz{display:block;}
.stq_my_list_none{width:100%;background:#f2f2f2;}
.stq_my_list_none_img{display:block;width:20%;margin:0px auto;margin-top:60%;}
.stq_my_list_none_ts{width:100%;text-align:center;height:20px;line-height:20px;text-align:center;font-size:12px;color:#333;margin-top:8px;}
/*生态圈-搜索页*/
.stq_search_hot{width:100%;margin-top:46px;}
.stq_search_hot_font{font-size:14px;height:45px;line-height:45px;color:#999999;margin:0px 3%;width:94%;border-bottom:#ddd solid 1px;}
.stq_search_hot li{height:45px;line-height:45px;font-size:16px;color:#333;width:94%;margin:0px 3%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:#dddddd solid 1px;}
.stq_search_history li{color:#333;}
.stq_search_history_clear{color:#4f8ffb;border:#4f8ffb solid 1px;}
/*生态圈-搜索结果页*/
.stq_top_qx{font-size:14px;color:#666666;position:absolute;right:0px;display:block;line-height:20px;top:13px;right:3%;}
.search_top .stq_sousuo_text{width:78%;}
.stq_sousuo_input{background:none;width:85%;height:20px;font-size:14px;line-height:20px;color:#333;}
.stq_sousuo_input::-webkit-input-placeholder{color:#cccccc;}
.stq_sousuo_con{margin-top:56px;}
/*生态圈-详情*/
.stq_xq_top{display:block;width:80%;background:#fff;height:39px;line-height:39px;margin:0px 10%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.stq_xq_con{width:100%;background:#fff;padding:0px 3%;}
.stq_xq_con_top{width:100%;padding:10px 0px;border-bottom:#dddddd solid 1px;overflow:hidden;}
.stq_xq_con_top_tx{width:60px;height:60px;overflow:hidden;border-radius:50%;float:left;border:#f2f2f2 solid 3px;}
.stq_xq_con_top_tx img{width:100%;height:100%;}
.stq_xq_con_top_xx{width:calc(100% - 60px - 60px);float:left;padding:0px 10px;}
.stq_xq_con_top_ckbtn{font-size:12px;color:#fff;background:#5dc4f0;border-radius:3px;width:60px;height:25px;line-height:25px;text-align:center;float:left;margin-top:18px;}
.stq_xq_con_top_name{width:100%;height:20px;line-height:20px;font-size:14px;color:#666666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:10px;}
.stq_xq_con_top_time{width:100%;height:16px;line-height:16px;font-size:12px;color:#999999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.stq_xq_content{padding:15px 0px;}
.stq_xq_content_title{font-size:16px;line-height:20px;text-align:center;width:100%;margin-bottom:15px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;color:#333;}
.stq_xq_ft_content{line-height:20px;color:#666666;font-size:14px;}
.stq_xq_content_img{width:100%;margin-top:10px;}
.stq_hf_number{color:#666666;font-size:14px;height:40px;line-height:40px;width:100%;padding:0px 3%;}
.stq_hf_list{width:100%;padding:0px 3%;background:#fff;}
.stq_hf_list li{width:100%;padding:10px 0px;border-bottom:#ddd solid 1px;}
.stq_hf_list li:last-child{border-bottom:none;}
.stq_hf_ly_tx{width:50px;height:50px;border:#f2f2f2 solid 3px;border-radius:50%;float:left;}
.stq_hf_ly_tx img{width:100%;height:100%;float:left;}
.stq_hf_ly_xx{width:calc(100% - 50px);float:left;padding:0px 10px;height:50px;}
.stq_hf_ly_xx_name{height:16px;line-height:16px;font-size:12px;color:#666666;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:6px;}
.stq_hf_ly_xx_time{height:16px;line-height:16px;font-size:12px;color:#999999;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;}
.stq_hf_ly_content{clear:both;margin-left:50px;width:calc(100% - 50px);line-height:18px;padding:0px 10px;font-size:14px;color:#333;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;}
.stq_ft_bottom{position:fixed;bottom:0px;left:0px;width:100%;background:#fff;border-top:#dddddd solid 1px;height:50px;padding:10px 3% 9px;overflow:hidden;}
.stq_ft_bottom_dz{font-size:14px;color:#666666;float:left;width:60px;height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.stq_ft_bottom_dz_img1{width:18px;height:18px;vertical-align:text-top;margin-top:-1px;margin-right:5px;}
.stq_ft_bottom_dz_img2{width:18px;height:18px;vertical-align:text-top;margin-top:-1px;margin-right:5px;display:none;}
.stq_ft_bottom_bj{width:calc(100% - 60px - 40px);height:30px;background:#f2f2f2;border-radius:30px;line-height:30px;padding:0px 10px;float:left;font-size:14px;color:#333;outline:medium;resize:none;}
.stq_ft_bottom_bj::-webkit-scrollbar{display:none;}
.stq_ft_bottom_fs{display:block;float:left;height:30px;line-height:30px;color:#4f8ffb;font-size:14px;text-align:right;width:40px;}
.stq_ftxq_mind{margin-bottom:60px;}
.stq_ft_bottom_bjzt{height:100px;}
.stq_ft_bottom_bj_zt{height:80px;border-radius:5px;line-height:20px;width:calc(100% - 40px);padding:10px;}
/*生态圈发帖*/
.stq_ft{width:100%;padding:0px 3%;background:#fff;margin-top:50px;}
.stq_ft_title{width:100%;height:45px;border-bottom:#dddddd solid 1px;}
.stq_ft_title_input{width:100%;height:44px;font-size:16px;color:#333;}
.stq_ft_zw{width:100%;height:150px;padding:10px 0px;border-bottom:#ddd solid 1px;}
.stq_ft_zw_text{width:100%;height:130px;line-height:20px;font-size:16px;color:#333;outline:medium;}
.stq_ft_photo{width:100%;margin-top:10px;overflow:hidden;}
.stq_ft_photo li{width:60px;height:60px;position:relative;float:left;margin-right:10px;margin-bottom:10px;background:url("../images/stq_img_bj.png") no-repeat;background-size:100% 100%;}
.stq_ft_photo .stq_ft_photo_img{width:100%;height:100%;}
.stq_ft_photo_qc{width:20px;height:20px;position:absolute;right:3px;top:3px;}
.stq_ft_photo_ts{float:left;height:60px;line-height:60px;font-size:16px;color:#999999;}
.stq_ft_btn{width:94%;margin:0px 3%;height:45px;color:#fff;line-height:45px;background:#4f8ffb;text-align:center;border-radius:5px;margin-top:30px;font-size:18px;}
.stq_ft_tstc{width:94%;margin:0px 3%;text-align:center;position:fixed;left:0px;bottom:80px;}
.stq_ft_tstc_con{color:#fff;font-size:16px;background:rgba(0,0,0,0.6);padding:10px 15px;border-radius:6px;}
/*wap底部端弹窗样式*/
.wap_tc_bottom_bj{position:fixed;width:100%;height:100%;left:0px;top:0px;background:rgba(0,0,0,0.4);opacity:1;display:none;z-index:10;}
.wap_tc_bottom_con{position:absolute;bottom:10px;width:90%;margin:0px 5%;font-size:16px;opacity:1;overflow:hidden;transition:height 0.5s;}
.wap_tc_bottom_con ul{margin-bottom:10px;background:#fff;border-radius:5px;}
.wap_tc_bottom_con ul li{list-style:none;text-align:center;height:40px;line-height:40px;color:#333;border-bottom:#dddddd solid 1px;}
.wap_tc_bottom_con ul li:last-child{border-bottom:none;}
.wap_tc_bottom_shut{background:#fff;text-align:center;height:40px;line-height:40px;color:#03a2fd;border-radius:5px;}
/*求购信息*/
.qiugou_top_ss_img{width:18px;height:20px;margin-left:9px;}
.qiugou_top_ss_input{width:calc(100% - 55px);}
/*求购信息-搜索列表*/
.qgxx_top_sslb{width:100%;height:48px;background:#fff;}
.qgxx_top_sslb_sousuo{width:94%;margin:10px 3% 6px;}
.qgxx_top_sslb_list{position:static;}
.qgxx_top_sslb_banner{width:100%;overflow:hidden;background:url("../images/shop_banner_default@2x.png") no-repeat;background-size:100%;}
.qgxx_top_sslb_banner img{width:100%;}
.qgxx_top_sslb_fixed{position:fixed;top:40px;width:100%;min-width: 320px;max-width: 640px; background:#f2f2f2;padding-bottom:10px;}
.qgxx_sslb_list_xq{width:100%;height:20px;float: left;}
.qgxx_sslb_list_pl{width:30%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:20px;line-height:20px;float:left;color:#666666;font-size:12px;}
.qgxx_sslb_list_pl img{height:14px;margin-right:4px;vertical-align:text-top;margin-top:2px;}
.qgxx_sslb_list_time{display:block;float:left;width: 100%; text-align:left;height:20px;line-height:20px;font-size:12px;color:#666666;}
.qgxx_sslb_list_city{display:block;float:right;max-width:30%;text-align:right;height:20px;line-height:20px;font-size:12px;color:#666666;}
.qgxx_sslb_fanhui_top_box{width:100%;min-width:320px;max-width:640px;position:fixed;bottom:60px;}
.qgxx_sslb_fanhui_top{position:absolute;right:3%;display:block;width:40px;height:40px;background:#fff;border-radius:50%;}
.qgxx_sslb_list_none{width:100%;}
.qgxx_sslb_list_none img{width:20%;margin:0px auto;display:block;margin-top:90%;}
.qgxx_sslb_list_none_ts{width:100%;padding:0px 3%;text-align:center;font-size:12px;color:#333;margin-top:5px;}
/*龙虎榜商加排名 05-17 XJ*/
.lhb_nav_none{border-bottom:none;}
.sjpm_list{width:100%;}
.sjpm_list li{width:94%;margin:0px 3%;padding:10px 0px;border-bottom:#dddddd solid 1px;overflow:hidden;}
.sjpm_list li:last-child{border-bottom:none;}
.sjpm_list_pm{width:20px;float:left;margin-top:20px;line-height:20px;font-size:18px;color:#999999;text-align:center;}
.sjpm_list_pm img{width:100%;}
.sjpm_list_tx{width:60px;height:60px;float:left;border:#f2f2f2 solid 3px;border-radius:50%;margin-left:10px;background:url("../images/seller_head_img_default@2x.png") no-repeat;background-size:100% 100%;}
.sjpm_list_tx img{width:100%;height:100%;}
.sjpm_list_dyh{height:20px;float:left;width:calc(100% - 20px - 10px - 60px);padding-left:10px;margin-top:9px;}
.sjpm_list_dyh_name{display:block;float:left;height:20px;width:65%;line-height:20px;font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sjpm_list_dyh_price{display:block;height:20px;line-height:20px;width:35%;float:right;font-size:16px;color:#ea3838;text-align:right;}
.sjpm_list_dyh_price b{font-size:12px;font-weight:normal;}
.sjpm_list_drh{height:20px;float:left;width:calc(100% - 20px - 10px - 60px);padding-left:10px;margin-top:5px;}
.sjpm_list_drh_city{display:block;float:left;width:50%;height:20px;color:#999999;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sjpm_list_drh_city img{height:14px;vertical-align:text-top;margin-top:1px;margin-right:3px;}
.sjpm_list_drh_jye{display:block;font-size:12px;color:#999999;border:#c5c5c5 solid 1px;width:55px;height:20px;float:right;line-height:20px;text-align:center;border-radius:20px;}
.lhb_no1{width:100%;margin-top:85px;background:url("../images/lhb_no1_bj.png") no-repeat;background-size:100% 100%;padding:15px 0px;}
.lhb_no1_tx_bj{position:relative;width:105px;margin:0px auto;}
.lhb_no1_tx_photo{width:70px;height:70px;border-radius:50%;border:#f2f2f2 solid 3px;margin:0px auto;background:url("../images/seller_head_img_default@2x.png") no-repeat;background-size:100% 100%;}
.lhb_no1_tx_photo img{width:100%;height:100%;}
.lhb_no1_tx_pmimg{position:absolute;width:100%;bottom:-13px;}
.lhb_no1_name{width:100%;font-size:16px;height:20px;line-height:20px;color:#333;text-align:center;padding:0px 10px;margin-top:20px;}
.lhb_no1_city{font-size:12px;height:16px;line-height:16px;background:url("../images/shang_hang_border.png") repeat-x;text-align:center;background-position:0px 7px;width:120px;margin:0px auto;margin-top:5px;}
.lhb_no1_city span{font-size:12px;color:#cf8506;padding:0px 10px;background:#fff411;}
.lhb_no1_jg{color:#ea3838;text-align:center;margin-top:5px;width:100%;padding:0px 30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.lhb_no1_jye_font{font-size:12px;color:#ea3838;border:#ea3838 solid 1px;padding:0px 6px;line-height:20px;border-radius:20px;}
.lhb_no1_price{font-size:16px;color:#ea3838;margin-left:5px;}
.lhb_no1_price b{font-weight:normal;font-size:12px;}
@media screen and (max-width: 320px) {
	.sjpm_list_pm{font-size: 16px;margin-top: 15px;}
	.sjpm_list_tx{width: 55px;height: 55px;margin-left: 5px;}
	.sjpm_list_dyh{width:calc(100% - 20px - 5px - 55px);margin-top: 5px;}
	.sjpm_list_dyh_name{width: 59%;font-size: 14px;}
	.sjpm_list_dyh_price{width: 41%;font-size: 12px;}
}


/*背景颜色添加样式*/
.bjs_huise{background:#cccccc;}
.bjs_lanse{background:#4f8ffb;}
.bjs_jhs{background:#f9b552;}
/*弹窗字体颜色*/
.color_lanse{color:#03a2fd;}
.color_huise{color:#cccccc;}

@media screen and (min-height:568px){
	.login_logo_pic{margin-top:70px;margin-bottom:40px;}
	.login_btn{margin-top:30px;}
}
@media screen and (min-height:667px){
	.qgxx_sslb_list_xq{margin-top:20px;}
}
@media screen and (min-width:375px){
	.xxsp_mind_price{font-size:14px;}
	.xxsp_mind_number{line-height:22px;}
	.hot_sale_xq_price{margin-top:15px;}
	.hot_sale_xq_yh{margin-top:15px;}
	.ztc_sale_xq_yh{margin-top:2px;}
	.ztc_sale_xq_price{margin-top:6px;}

}

@media screen and (min-width:768px){
	.index_bottom{height:85px;}
	.index_bottom_img{height:45px;}
	.index_bottom_img img{height:35px;margin:10px;}
	.index_bottom_font{width:100%;text-align:center;font-size:16px;height:35px;line-height:35px;color:#999999;}
	.index_bottom_font_onclick{color:#4f8ffb;}

	.jhd_js_bottom{bottom:85px;}
	.jhd_con{margin-top:50px;margin-bottom:145px;}
	.hot_sale_xq{width:75%;}
	.hot_sale_xq_yh{margin-top:24px;}
	.hot_sale_xq_price{margin-top:24px;}
	.sjlb_jyfw{font-size:16px;margin-top:10px;}
	.sjlb_rzzb{margin-top:10px;}
	.sjlb_xq_number,.sjlb_xq_jyl,.sjlb_xq_city{font-size:16px;margin-top:10px;}
	.ztc_sale_xq_yh{margin-top:9px;}
	.ztc_sale_xq_price{margin-top:12px;}
	.ztc_content_address{font-size:15px;height:20px;line-height:20px;margin-top:10px;}
	.ztc_content_address_img{height:16px;margin-top:2px;}
}
`