textarea::-webkit-input-placeholder{color: #cccccc;} textarea::-moz-input-placeholder{color: #cccccc;} textarea::-ms-input-placeholder{color: #cccccc;}
input::-webkit-input-placeholder{color: #cccccc;} input::-moz-input-placeholder{color: #cccccc;} input::-ms-input-placeholder{color: #cccccc;}
*{padding: 0px;margin: 0px;}
/*按钮*/
.bedge{display: block;position:relative;height:20px;width:20px;}
.round_checkbox{position:absolute;visibility:hidden;top:0px;left:0px;}
.round_checkbox+label{position:absolute;left:0px;top:0px;width:20px;height:20px;background:#fff;border-radius:100%;box-sizing:border-box;border:#bbb solid 1px;}
.round_checkbox:checked+label{content:"";position:absolute;top:0px;left:0px;width:20px;height:20px;background:#f9b552;border:none;border-radius:100%;}
.round_checkbox:checked+label:before{content:"";position:absolute;top:5px;left:4px;width:12px;height:7px;border-bottom:#fff solid 2px;border-left:#fff solid 2px;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
/*编辑发票*/
.invoice_info{margin-top:50px;background: #fff;width: 100%;}
.invoice_info_u1{width: 100%;padding: 0 10px;}
.invoice_info_u1 li{width: 100%; height: 45px;font-size: 14px; padding: 12px;}
.invoice_middle_border{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
.invoice_info_u1 span {color: #eb4545;}
.info_left{width: 75px;float: left;overflow: hidden;word-break: break-all;white-space: nowrap;}
.info_right{color:#666666; float: right; width: calc(100% - 75px);width:-webkit-calc(100% - 75px);width:-moz-calc(100% - 75px);text-align: right;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;word-break: break-all;}
.invoice_setting{width: 100%;height: 45px;margin-bottom: 60px; background: #fff;margin-top: 10px;font-size: 14px;padding: 12px 10px;}
.invoice_btn{width: 20px;height: 20px;float: right;}
.invoice_bottom{width: 100%;height: 50px;line-height: 50px; background: #4f8ffb;color: #fff;font-size: 16px;position: fixed;bottom: 0;text-align: center;left: 0px;}

/*新增发票*/
.invoice_top_border{border-top: 1px solid #dddddd;}
.info_text{display: inline-block; text-align: left;max-width: 100px;}
.newinvoice_info_u1{width: 100%;padding: 0 10px;}
.newinvoice_info_u1 li{width: 100%;font-size: 14px;padding: 12px 0;}
.newinvoice_info_u1 span {color: #eb4545;}
.invoice_top-li{height: 45px;}
.invoice_bottom-li {border-top: 1px solid #dddddd;height: 60px;}
.form-control{width: 70%;margin-top: -5px; text-align: right;direction: rtl; float: right; padding: 6px 10px;color:#333333;}
.invoice_inp {font-size: 14px; float: right;text-align: right;height: 22px;line-height: 22px;width:calc(100% - 100px);width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);}
.address-text{float: right; resize: none;text-align: right;height: 100%; width:calc(100% - 75px);width:-webkit-calc(100% - 75px);width:-moz-calc(100% - 75px);}
.newinvoice_bottom{width: 100%;height: 50px;line-height: 50px; background: #4f8ffb;color: #fff;font-size: 16px;position: relative;bottom: 0;text-align: center;left: 0px;}

/*我的发票*/
.myinvoice_list{margin-top: 50px;width: 100%;margin-bottom: 60px;}
.toplist_l{float: left;}
.toplist_r{float: right;}
.img_wh-20{width: 20px;height: 20px;margin:0 10px;display: inline-block;}
.img_wh-20 img{width: 20px;height: 20px;}
.myinvoice_list_btn{float:left;margin-right: 10px;margin-top: 2px; }
.myinvoice_info-top{font-size: 12px;color: #666666;padding-bottom:10px;border-bottom: 1px solid #dddddd; }
.myinvoice_info-body{padding: 10px 0;}


/*我的发票-选择*/
.mychoose_list{margin-top: 50px;width: 100%;}
.myinvoice_info{margin-top:10px;background: #fff;width: 100%;padding: 10px;position: relative;}
.myinvoice_info_text{display: inline-block;width:calc(100% - 55px);width:-webkit-calc(100% - 55px);width:-moz-calc(100% - 55px);}
.myinvoice_info_text p{font-size: 14px;}
.myinvoice_info_text span{color: #f9b552;}
.invoice-img{width: 22px;height: 22px;float: left;margin-right: 10px;}
.invoice-img img{width: 22px;height: 22px;}
.myinvoice_btn{float: right;margin-top: 12px;width: 20px;height: 20px;}

/*绑定手机号*/
.bind_phone{margin-top: 50px;width: 100%;}
.bind_phone ul{background: #fff;width: 100%;padding: 10px;}
.bind_phone li{padding: 10px 0;}
.bind_phone input{font-size: 14px;}
.yzm_btn{float: right;width: 80px;height:25px; text-align: center; border: 1px solid #52c3f1;border-radius: 5px;font-size: 11px;}
.yzm_l1{border-top: 1px solid #dddddd;}
.phone_num_refer{width: 96%;margin:0 auto;height: 45px;line-height: 45px;text-align: center;border-radius: 4px; color: #fff;background: #52c3f1;margin-top: 30px;}

/*已绑定手机号*/
.binded_num{margin-top: 50px;color: #666666;font-size: 14px;padding: 10px}
.phone_num{background: #fff;font-size: 14px;color: #cccccc;padding: 10px;margin: 10px -10px;}

/*个人信息*/
.user_info{margin-top: 50px;width: 100%;padding-top: 10px; background: #fff;}
.user_info li{font-size: 14px;padding: 10px;}
.user_info_l1{margin-bottom:10px;}
.user_info_img{width: 45px;height: 45px;border-radius: 50%;margin-top: -10px;}
.user_info_l1 img{float: right;}
.user_info_l2{border-top: 1px solid #dddddd;}
.user_info_l2 span{float: right;color: #999999;font-size: 14px;}
.user_forward_img{ width: 7px;height: 14px;margin-left: 5px;float: right;margin-top: 6px;}

/*修改密码*/
.user_pwd{margin-top: 50px;width: 100%;background: #fff;padding: 0 10px;}
.user_pwd li{padding:10px 0;font-size: 14px;}
.user_pwd input{margin-left: 10px;font-size: 14px;}

/*修改昵称*/
.user_name{margin-top: 50px;width: 100%;}
.user_name_input{padding: 10px;background: #fff; margin-bottom: 10px;}
.user_name_input input{width: 90%;font-size: 14px;}
.user_name p{padding: 0px 10px;color: black;font-size: 12px;color: #999999;}
.text_claer{width: 20px;height: 20px;float: right;margin-top: 2px;display: none;}


/*个人中心 2017-5-11 xj*/
.person_top{width: 100%;background: url(../images/personcenter.png);background-size: 100% 100%; margin-bottom: 10px;position: relative;}
.set_img{width: 20px;height: 20px;position: absolute;right: 10px;top: 10px;}
.person_info{padding-top:25px;padding-bottom: 15px;}
.person_image{width: 60px;height: 60px;border-radius: 50%;border: 1px solid #fff;}
.user_name{color: #fff;font-size: 14px;}
.user_sign{width: 70px;height: 20px;margin: 0 auto;}
.user_sign_unident{display: none; }
.user_sign img{width: 100%;vertical-align: top;}
.person_info_img{width: 20px;height: 20px;margin-right: 10px;}
.forward_img{ width: 7px;height: 14px;margin-left: 5px;float: right;margin-top: 5px;}
.person_mymenu{width: 100%;background: #fff;}
.all-list{width: 100%;font-size: 14px;padding: 10px;border-bottom: 1px solid #dddddd;}
.all-list span{float: right;color: #999999;font-size: 12px;overflow: hidden;}
.img_menu{width:25px; height:28px;}
.menu-group{width: 100%;padding: 10px 0;background-color: #fff;z-index: 8500;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.person_menus_p1{font-size: 24px;}
.person_menus_p2{font-size: 12px;}
.person_action_menu{margin-top:10px; width: 100%;background: #fff;margin-bottom: 60px; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: flex-start;-webkit-justify-content: flex-start;justify-content: flex-start;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.person_action_d1{width: 33.3%;text-align: center;font-size: 14px;padding: 20px 0;}
.action_menu_img{width: 30px;height: 31px; margin: 0 auto;margin-bottom: 10px;}
.action_menu_img img{width: 100%;height: 100%;}


.needs_nav_btn{width: 50px;height: 50px;border-radius: 100%;background: url(../images/btn_post_demand@2x.png);background-repeat: no-repeat;background-size: 100%;position: absolute;right: 10px;bottom: 50px;}
.personinforefer_cue{width: 80%;padding:5px;position: absolute; text-align: center;font-size: 14px;color:#6dc1e1;background: #fff; border-radius: 6px;border:1px solid #6dc1e1; bottom: 60px; left: 10%;}

/*快速补货 2017-6-13 xj*/
.menus{width: 100%;margin-top:41px;position: fixed;background: #fff;z-index: 10;min-width: 320px;max-width: 640px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.menus_zz { font-size: 16px;width: 50%; height: 40px;text-align: center; line-height: 37px; /*padding: 0 5px;*/color: #333;}
.menus_zz p{display: inline-block;padding: 0 5px;color: #999999;}
.menus_blue {color: #4f8ffb!important;border-bottom: 3px solid #4f8ffb;}
.goods_list{margin-top: 95px;width: 100%;background: #fff;padding: 0 10px;margin-bottom: 40px;}
.goods_info{width: 100%;padding: 10px 0;}
.bottom_border{border-bottom: 1px solid #dddddd;}
.top_border{border-top: 1px solid #dddddd;} 
.goods_l{width: 65px;height: 65px;float: left;position: relative;}
.goods_lose{position: absolute;left: 0;top:0; font-size: 14px; width: 65px;height: 65px;line-height: 65px;text-align: center;background: rgba(0,0,0,0.4);color: #fff;}
.goods_img1{width: 65px;height: 65px;} 
.goods_r{width: calc(100% - 65px);height: 65px;overflow: hidden;padding-left: 10px;}
.goods_r h2{font-size: 14px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.goods_r h4{font-size: 12px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: #666666;margin-top: 10px;margin-bottom: 5px;}
.dianpu_img{width: 15px;height: 14px;margin-right: 5px;margin-top: -2px;}
.goods_r p{font-size: 10px; color: #999999;}
.in_seller{display: none;}
.seller_info{width: 100%;padding: 10px 0;}
.seller_l{width: 85px;height: 67px;float: left;}
.seller_img1{width: 85px;height: 67px;} 
.seller_r{width: calc(100% - 85px);height: 67px;overflow: hidden;padding-left: 10px;}
.seller_r h2{font-size: 14px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.seller_r h4{height: 28px;margin-top: 5px; font-size: 12px;color: #333333;overflow: hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;display:-moz-box; -moz-box-orient:vertical;-moz-line-clamp:2;display:-ms-box; -ms-box-orient:vertical;-ms-line-clamp:2;}
.seller_r h4 span{display: inline-block; color: #00a3ea;font-size: 10px;border-radius: 3px;border: 1px solid #00a3ea;padding: 0 5px; margin-right: 10px;}
.seller_r p{font-size: 10px; color: #999999;}
.goods_empty{margin-top: 95px;}
.goods_empty p{font-size: 14px;}

.stroll{padding: 5px;margin-top: 20px; color: #f19149;border: #f19149 solid 1px;border-radius: 4px; font-size: 14px;display: inline-block;}
.stroll2{padding: 5px 20px;margin-top: 20px; color: #f19149;border: #f19149 solid 1px;border-radius: 4px; font-size: 14px;display: inline-block;}
.empty2{display: none;}
.empty3{display: none;}

/*我的收藏*/
.mycollection_goods_bedge{width: 100%;height: 18px;margin-top: 10px;}
.mycollection_goods_salenum{clear: both;width: 100%;height: 13px;margin-top: 5px;font-weight: normal;margin-top: 13px;}
.mycollection_goods_bedge li{float: left;color: #00a3ea;border: #41cef8 solid 1px;font-size: 12px;height: 12px;line-height: 12px;border-radius: 3px;margin-right: 5px;padding: 2px 5px;box-sizing: content-box;}
/*设置*/
.setting_list{margin-top: 50px;width: 100%;}
.setting_menu{padding:10px;background: #fff;font-size: 14px;}
.setting_menu_margintop{margin-top: 10px;}
.find_newversion{color: #fff;font-size: 12px;background: #ea3838;border-radius: 5px;padding: 0px 8px;float: right;margin-right: 30px;}
/*意见反馈*/
.feedback{width: 100%;margin-top: 50px;height: 40%;}
.feedback textarea{font-size: 14px;resize: none;width: 100%;height: 100%;padding: 10px;}

/*地址*/
.choose-larea{float: right;}
.area_cj1{text-align: right;}
.address_info_l{/*float: left;*/font-size: 14px;}
.address_info_r{float: right;font-size: 14px;}
.full_address{font-size: 12px;color: #666666;}
.user_address_info{width: calc(100% - 55px);width: -webkit-calc(100% - 55px);width: -moz-calc(100% - 55px);}
.address_btn{position: absolute; top:38%;right: 10px;}
.address_bottom{width: 100%;height: 50px;line-height: 50px; background: #4f8ffb;color: #fff;font-size: 16px;position: fixed;bottom: 0;text-align: center;min-width: 320px;max-width: 640px;}
#demo1{text-align: right;}

/*实名认证*/
.bind_bank{width: 100%;margin-top: 40px;margin-bottom: 30px;}
.bind_bank p{padding: 10px;font-size: 14px;}
.bank_info1{width: 100%;padding: 10px;background: #fff;font-size: 16px;margin-bottom: 10px;}
.down_img{ width: 12px;height: 6px;margin-left: 5px;float: right;margin-top: 10px;}
.bank_num_inp{font-size: 14px; width: calc(100% - 100px);width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);}
.bind_idcard{width: 100%;margin-top: 40px;margin-bottom: 30px;}
.idcard_info{width: 100%;padding: 10px;background: #fff;font-size: 16px;}
.bind_idcard p{padding: 10px;font-size: 14px;}
.idcard_photo{width: 100;background: #fff;margin-top: 10px;}
.idcard_info_img{width: 100%;display: flex;align-content: space-between;padding: 0 10px 20px 10px;}
.idcard_img_left1{width: 50%;height: 135px; margin-right: 7.5px;background: url(../images/idcard1.png) no-repeat;background-size: 100% 100%;}
.idcard_img_left2{width: 50%;height: 135px; margin-left: 7.5px;background: url(../images/idcard2.png) no-repeat;background-size: 100% 100% ;}
.idcard_img img{width: 100%;height: 100%;}
/*实名认证---------模态框*/
.bind_idcard_modal{width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.4);position: fixed;z-index: 90;}
.modal_menus{width: 94%;margin: 0 auto;background: #fff;border-radius: 6px;margin-bottom: 10px;}
.idcard_modal-p1{padding: 15px 0;font-size: 16px;color: #333333;}
.modal_cancel{padding: 15px 0;font-size: 16px;color: #03a2fd;background: #fff;width: 94%;margin: 0 auto;border-radius: 6px;}
.modal_position{width: 100%;position: absolute;bottom: 10px;}
/*实名认证-----------流程页面*/
.bind_process_body{width: 100%;margin-top: 40px;padding-top: 30px;}
.bind_process_body p{font-size: 16px;color: #666666;margin-bottom: 30px;}
.step_first{width: 94%;padding: 15px 0;color: #fff;background: #f9b552;border-radius: 6px;margin:0 auto;}
.bind_process_body span{margin-right: 40px;}
.step_middle_img {padding: 20px 0;}
.step_middle_img img{width: 10%}
.step_second{width: 94%;padding: 15px 0;color: #fff;background: #b8e440;border-radius: 6px;margin:0 auto;}
.bind_process_bottom{width: 100%;height: 50px;line-height: 50px; background: #4f8ffb;color: #fff;font-size: 16px;position: fixed;bottom: 0;text-align: center;min-width: 320px;max-width: 640px;}

/*驳回页面*/
.reject{margin-top: 50px;width: 100%;}
.reject p{font-size: 14px;padding:10px;}
.reject_top_p2{padding: 0 10px;font-size: 14px;margin-bottom:10px;}
.reject_top_p2 span{color: #f19149;margin-left: 10px;}
.reject_bank{width: 100%; margin-top: 10px;}
.reject_bank_info1{width: 100%;padding: 10px;background: #fff;font-size: 16px;}
.reject_inp{font-size: 14px; color: #666666; float: right; width: calc(100% - 100px);width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);text-align: right;overflow: hidden;white-space: nowrap;}
.reject_bottom{width: 94%;margin:0 auto;height: 45px;line-height: 45px;background: #4f8ffb;color: #fff;font-size: 16px;text-align: center;border-radius: 5px;margin-top: 30px;}

/*绑定成功页面*/
.bind_success{margin-top: 50px;width: 100%;}
.bind_success p{padding: 10px;font-size: 14px;}
/*绑定成功——————模态框*/
.modal_box{position: fixed;top: 0;left: 0; width: 100%;height: 100%;z-index: 100;display: flex;justify-content: center;}
.box_item p{text-align: center;color: #fff;height: 40px;font-size: 14px;}
.box_item_p1{line-height: 58px;}
.box_item{width: 180px;height: 80px; background:rgba(0,0,0,0.6); border-radius:6px;align-self: center;}

/*我的求购*/
.needs_menu{width: 25%;float: left;padding:15px 0; font-size:14px;}
.needs_info{width: 100%;margin-top: 96px;}
.needs_none_img{width: 20%;margin-top: 40%;margin-bottom: 10px;}
.needs_empty p{font-size: 14px;}
.needs_empty{display: none;}
.needsinfo_list{width: 100%;margin-top: 106px;}
.ni_list_ul li{overflow:hidden;width: 100%;padding: 0px;background: #fff;}
.list_li_l1{float: left;display:block;font-size: 14px;padding: 10px 0 10px 10px; width: calc(100% - 90px);width: -moz-calc(100% - 90px);width: -webkit-calc(100% - 90px); overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.overleft_hide{margin-left: -60px;}
.list_li_l2{float: left;display:block; width: 90px;overflow: hidden;font-size: 10px;padding: 10px; color: #999999;text-align: center;}
.list_li_l3{float: left;display:none; width: 60px; background:#f8b551;color: #fff;font-size: 14px;padding: 10px;text-align: center;}

/*我的求购————————信息页面*/
.details_info{margin-top: 50px;width: 100%;padding: 10px;background: #fff;}
.details_info_tit1{font-size: 16px;}
.details_info_tit2{font-size: 10px; color: #999999;}
.details_info ul{margin-top: 10px;}
.details_info li{width: 100%;}
.details_info_l1{width:60px;display: inline-block;vertical-align: top; overflow: hidden;font-size: 12px;}
.details_info_l2{font-size: 12px;display: inline-block;vertical-align: top; color: #666666; width: calc(100% - 60px);width: -moz-calc(100% - 60px);width: -webkit-calc(100% - 60px);word-break: break-all;}
.details_info_l3{font-size: 12px;display: inline-block;vertical-align: top; color: #333333; width: calc(100% - 60px);width: -moz-calc(100% - 60px);width: -webkit-calc(100% - 60px);word-break: break-all;}
.details_info_l2 span{border: 1px solid #999999;border-radius: 25px; color: #999999;padding:0 5px;margin-right: 10px;text-align: center;}
.details_info_l3_img{display: inline-block;vertical-align: top;width: 24px;height: 24px;margin-left: 10px;}
.details_info_l3_img img{width: 100%;height: 100%;}
.infocheck{margin-top: 10px;background: #fff;width: 100%;margin-bottom: 60px;	}
.infocheck_top{font-size: 16px;padding: 10px;width: 100%;}
.infocheck_body{padding: 20px 10px;width: 100%;}
.infocheck_num{color: #4f8ffb;}
.infocheck_text{width: 100%;font-size: 14px;color: #333333;}
.infocheck_endnote {text-align: right;}
.infocheck_endnote_s1{display: block;font-size: 12px;}
.infocheck_endnote_s2{font-size: 10px;margin-left: 10px;}
.seller_answer{padding: 10px;background: #fff;}
.sellerhead_img{width: 44px;height: 44px;background: url(../images/icon_kefu.png);background-size: 100% 100%; display: inline-block;border-radius: 50%;vertical-align: bottom;}
.sellername_info{display: inline-block;margin-left: 10px;}
.sellername_info_p1{font-size: 14px;}
.sellername_info_p2{font-size: 10px; color: #999999;}
.details_phone_img{display: inline-block;float: right;}
.details_phone_img img{width:18px;height: 20px; margin-top: 10px;}
.seller_ans_text2{font-size: 14px;color: #666666;}

/*发布需求-----新增页面*/
.release_needs{width: 100%; margin-top: 50px;}
.goods_img_info{width: 100%; background: #fff;font-size: 14px;float: left;padding: 10px;margin-bottom: 10px;}
.uploadfile_img{width: 73px;height: 73px;margin-right: 10px; background: url(../images/stq_img_bj.png) center no-repeat;float: left;}
.uploadfile_text{width: calc(100% - 85px);width: -webkit-calc(100% - 85px);width: -moz-calc(100% - 85px);height: 73px;line-height: 73px;	 color: #cccccc;overflow: hidden;}
.goodsneeds_list{width: 100%;background: #fff;float: left;padding: 10px;}
.goodsneeds_list span{color: #ea3838;float: left;padding: 0 5px;}
.goodsneeds_text{font-size: font-size:14px;color: #cccccc;width: -moz-calc(100% - 100px);width: -webkit-calc(100% - 100px);width: calc(100% - 100px);float: left;}
.goodsneeds_text2{font-size: font-size:14px;width: -moz-calc(100% - 100px);width: -webkit-calc(100% - 100px);width: calc(100% - 100px);float: left;}
.gn_text1{float: left;width: 50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gn_text2{float: right;width: 50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gn_text3{float: left;display: block;width: 100%;}
.needslist_left{float: left; width: 60px;font-size: 14px; overflow: hidden;word-break: break-all;white-space: nowrap;}
.nl_l1{float: left;width: calc(60% - 100px);width: -webkit-calc(60% - 100px);width: -moz-calc(60% - 100px);}
.nl_r1{float: right;width: calc(40% - 0px);width: -webkit-calc(40% - 0px);width: -moz-calc(40% - 0px);}
.area_cj2{margin-left: 70px;}
.nl_textarea{resize: none;float: left; width: calc(100% - 82px);width: -webkit-calc(100% - 82px);width: -moz-calc(100% - 82px);margin-left: 17px; }
.nl_textarea::-moz-placeholder{color: #cccccc;}.nl_textarea::-webkit-input-placeholder{color: #cccccc;}.nl_textarea::-moz-input-placeholder{color: #cccccc;}.nl_textarea::-ms-input-placeholder{color: #cccccc;}
.nl_text::-moz-placeholder{color: #cccccc;}.nl_text::-webkit-input-placeholder{color: #cccccc;}.nl_text::-moz-input-placeholder{color: #cccccc;}.nl_text::-ms-input-placeholder{color: #cccccc;}
.release_needs_bottom{float: left; width: 100%;height: 45px;line-height: 45px;background: #4f8ffb;color: #fff;font-size: 16px;text-align: center;margin-top: 30px;}
.top_right_text{margin-right: 10px;font-size: 14px;position: absolute;right: 10px;}

/*求购数量 2017-4-25 xj*/
.shopnum_body{width: 100%;margin-top: 40px;}
.number_input{width: 100%;background: #f1f1f1;}
.number_input input{padding: 0 10px;font-size: 12px;color: #666666;background: none;width: 100%;}
.shopnum_unit {width: 100%;background:#fff;padding: 10px;}
.shopnum_unit_d2{display: inline-block;padding: 5px 10px;background: #f0f0f0;font-size: 14px;margin: 5px;border-radius: 6px;}
.shopnum_unit_style{background: #52c3f1;color: #fff;}

/*我的订单*/
.menus2{width: 100%;position: fixed;margin-top: 40px;min-width: 320px;max-width: 640px;background: #fff;}
.menus_child1{width: 100%;padding: 0 10px;background: #fff;text-align: center;z-index: 10;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.menus_child2{width: 100%;padding: 0 10px;font-size: 14px;background: #fff;}
.menus_child2_d1{padding: 10px 0;}
.menus_child2_d2{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.menus_child2_btns{width: 22%;margin: 5px 0; border-radius: 5px;border: 1px solid #999999;text-align: center;height: 28px;line-height: 28px;}
.menus_child2_btnsclicked{border: none;color: #fff;background:#4f8ffb; }
.order_menu_groups{width: calc(100% - 20px); display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.order_menu_groups_downimg {width: 15px;margin-left: 10px;}
.order_menu_groups_downimg img{width: 100%;}
.order_menu_groups_upimg {width: 15px;float: right;}
.order_menu_groups_upimg img{width: 100%;}
.order_menu{padding:10px 0 7px 0; font-size:14px;}
.order_list{margin-top: 92px;width: 100%;}
.undelivered_order{margin-top: 10px;width: 100%;}
.dianpu_img_box{width: 15px;display: inline-block;margin-right: 5px;}
.dianpu_tit{display: inline-block;}
.dianpu_connect{display: inline-block;color: #fff;background: #f19149;border-radius: 4px;padding: 0 5px;font-size: 12px;margin-left: 10px;}
.order_topbody{width: 100%;background: #fff;padding: 10px;}
.order_top{font-size: 14px;width: 100%;background: #fff;padding: 10px;}
..order_top2{font-size: 14px;width: 100%;}
.order_top2 span{color: #4f8ffb;float: right;font-size: 14px;}
.order_topbody_p1{color: #999999;font-size: 12px;padding-left: 20px;}
.ordergoods_info1{width: 100%;background: #fff;padding: 10px;margin-bottom: 10px;}
.ordergoods_info2{width: 100%;background: #fff;padding: 10px;display: flex;display: -webkit-flex;justify-content: space-between;}

.orergoods_p1{font-size: 14px;word-break: break-all;word-wrap: break-word;word-break: break-all; overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: box;display: -webkit-box;}
.ordergoods_format{display: block;font-size: 13px;color: #666666;}
.ordergoods_price{font-size: 18px;color: #ea3838;width: 90%;overflow: hidden;display: inline-block;word-wrap: break-word;word-break: break-all;white-space: nowrap;}
.ordergoods_num{font-size: 14px;color: #333333;width: 10%;text-align: right;overflow: hidden;display: inline-block;word-wrap: break-word;word-break: break-all;white-space: nowrap;}
.orderlist_total{width: 100%;padding: 10px;background: #fff;}
.orderlist_total div{width: 50%; display: inline-block;white-space: nowrap;overflow: hidden;font-size: 14px;}
.ordergoods_totalprice{font-size: 18px;color: #ea3838;}
.orderlist_bottom{width: 100%;padding: 10px;background: #fff;}
.return_btn{padding:5px 10px;color: #00a3ea;font-size: 14px;border-radius: 4px;border:1px solid #00a3ea;display: inline-block;}
.returning_btn{padding:5px 10px;color: #f1914b;font-size: 14px;border-radius: 4px;border:1px solid #f1914b;display: inline-block;margin-left: 10px;}
.unpay_order{margin-top: 10px;width: 100%;}
.topay_btn{padding:5px 10px;color: #f1914b;font-size: 14px;border-radius: 4px;border:1px solid #f1914b;display: inline-block;margin-left: 10px;}
.cancelorder_btn{padding:5px 10px;color: #999999;font-size: 14px;border-radius: 4px;border:1px solid #999999;display: inline-block;margin-left: 10px;}
.unsure_order{margin-top: 10px;width: 100%;}
.untake_order{margin-top: 10px;width: 100%;}
.totalprice_box{ color: #666666;font-size: 12px;padding: 10px ;background:#fff;text-align: right;}
.totalprice_box span{color:#ff6000; }
.ol_b_d1{width: 50%;display:inline-block;height: 49px;line-height: 49px;text-align: center; background: #fff; }
.ol_b_d2{width: 50%;display: inline-block;height: 49px;line-height: 49px;text-align: center; background: #4f8ffb;color: #fff;}
.closelist_btn{width: 80px; padding: 5px 0px;text-align: center; color: #999999;font-size: 14px;border-radius: 4px;border: 1px solid #999999;display: inline-block;margin-left: 10px;}
.orderlist_pay_btn{width: 80px;padding: 5px 0;text-align: center;color: #4f8ffb; font-size: 14px;border-radius: 4px;border: 1px solid #4f8ffb;display: inline-block;margin-left: 10px;}
/*订单详情*/
.orderinfo_top{margin-top:50px;background: #fff;padding: 10px;position: relative;}
.location_img{display: inline-block;width: 15px;height: 25px; text-align: center;float: left;margin-right: 5px;}
.location_img img{width: 15px;}
.ordergoods_info1_p1{margin-left: 20px;}
.ordergoods_info1_p2{position: relative;}
.shop_top_border{height: 4px;width: 100%;position: absolute;top:0;left: 0;background: url(../images/order_border.png) 100% 50% no-repeat;}
.shop_bottom_border{height: 4px;width: 100%;position: absolute;bottom: 0;left: 0;background: url(../images/order_border.png) 100% 50% no-repeat;}
.orderaddress_info{font-size: 14px; display: inline-block;width: calc(100% - 20px);width: -webkit-calc(100% - 20px);width: -moz-calc(100% - 20px);}
.orderaddress_info span{float: right;}
.ordergoods_price2{font-size: 14px;color: #ea3838;width: 90%;overflow: hidden;display: inline-block;word-wrap: break-word;word-break: break-all;white-space: nowrap;}
.orderinfo_remark{margin-top: 10px;width: 100%;padding: 10px;background: #fff;}
.order_remark_p1{font-size: 14px;}
.order_remark_p2{font-size: 13px; color: #666666;}
.orergoods_p2{font-size: 12px;color: #999999;word-wrap: break-word;word-break: break-all; overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: box;display: -webkit-box;}
.orderinfo_body{margin-top: 10px;}
.orderinfo_invo{font-size: 14px;margin-top: 10px;width: 100%;background: #fff;}
.orderinfo_invo_info {color: #333333;font-size: 14px;padding: 10px;}
.orderinfo_bottom{font-size: 13px;margin-top: 10px;padding: 10px;color: #666666;background: #fff;margin-bottom: 60px;}

/*确认订单  2017-6-5 xj*/
.orderaddress_info1{font-size: 14px; display: inline-block;width:100%;}
.orderaddress_info1 span{margin-left: 50px;}
.orderaddress_info_r {width: 7px;position: absolute;right: 0px;top:-2px;}
.orderaddress_info_r img{width: 7px;}
.firmlocation_info{width: 100%;font-size: 12px;color: #999999;}
.firmlocation_img{display: inline-block;margin-right: 5px;}
.firmlocation_img img{width: 10px;margin-bottom: 3px;}
.carrymethod{width: 100%;background: #fff;font-size: 14px;padding: 10px 0;}
.carrymethod_d1{padding:10px;}
.carrymethod_d2{padding: 10px;}
.carry_btn{width: 20px;height: 20px;float: right;margin-left: 10px;}
.deliver_text{display: inline-block;}
.notice_sign_img{display: inline-block;width: 13px;margin-right: 5px;}
.notice_sign_img img{width: 100%;margin-bottom: 3px;}
.carry_ziti{padding: 5px 0;}
.carry_ziti span{font-size: 12px;color:#828282; }
.deliver_way{display: inline-block;float: right;font-size: 12px;margin-left: 30px;}
.carrymethod textarea{resize: none;margin-left: 10px;width: calc(100% - 75px);width: -moz-calc(100% - 75px);width: -webkit-calc(100% - 75px);}
.isneed_invo{width: 100%;background: #fff;margin-top: 10px;margin-bottom: 60px;}
.isneed_invo_d1{padding: 10px;font-size: 14px;}
.isneed_invo_d2{padding: 10px;font-size: 12px;color: #999999;}
.isneedinvo_r{width: 7px;float: right;display: inline-block;margin-right: 10px;}
.isneedinvo_r img{width: 7px;}
.invoice_data{width: 60px;overflow: hidden;float: right;margin-right: 20px;	}
.slidecheckbox_btn{width: 60px;float: right;margin-right: 10px;}
.firmorder_bottom{width: 100%;background: #fff;display: flex;position: fixed;bottom: 0;z-index: 30;max-width: 640px;min-width: 320px;}
.fo_b_d1{text-align: right; width: 65%;height: 50px; font-size: 12px;padding: 5px 10px;}
.fo_b_d2{text-align: center;  width: 35%;height: 50px; line-height: 50px;color: #fff; font-size: 16px;background: #4f8ffb;}
.fo_b_d1_num{color: #ea3838;}
.fo_b_d1_price{color: #ea3838;font-size: 16px;}
.order_coupon_box{width: 100%;display: flex;display: -webkit-flex;justify-content: space-between;padding: 10px;}
.order_coupon_box_d1{width: 50%;font-size: 14px;}
.order_coupon_box_d2{width: 50%;font-size: 14px;color: #cccccc;text-align: right;}
.arrow_right_img{width: 8px;display: inline-block;margin-left: 10px;}
.arrow_right_img img{width: 100%;}
.order_coupon_bege{width: 56px;height: 16px;display: inline-block;margin-left: 10px; line-height: 16px;font-size: 12px;text-align: center; border-radius: 4px;color: #fff;background: #ff6000;}
.ordergoodsinfo_img{width: 80px;height: 80px; margin-right: 10px;}
.ordergoodsinfo_img img{width: 100%;height: 100%;}
.ordergoodsinfo_datas{width: calc(100% - 90px);}
.ogi_titdatas{width: 100%;display: flex;display: -webkit-flex;justify-content: space-between;font-size: 14px;}
.ori_tit{width: calc(100% - 90px); height: 40px; overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient: vertical;display:-webkit-box;font-size:14px;line-height: normal;}
.ori_datas{width: 90px;text-align:right;color: #666666;}
.ori_datas_p1{font-size: 12px;color: #999999;line-height: normal;}
.ori_datas_p2{font-size: 12px;color: #ff6000;line-height: normal;}

/*提交成功*/
.refer_success{margin-top: 40px;padding:20px 0;width: 100%;}
.refer_success_img{width: 20%;margin: 0 auto;margin-bottom: 15px;}
.refer_success_img img{width: 100%;}
.refer_top_p1{font-size: 14px;color: #333333;text-align: center;}
.refer_top_p2{font-size: 12px;color: #ea3838;text-align: center;}
.referorder_no{width: 100%;background: #fff;margin-top:10px;padding: 10px 0;}
.referorder_no ul{font-size: 14px;padding: 0 10px;}
.referorder_no li{padding: 5px 0;}
.referorder_no_d1{float: left;color: #333333; width:60px; text-align: justify;text-align-last: justify;overflow: hidden;word-break: break-all;white-space: nowrap;}
.referorder_no_s1{color: #666666;margin-left: 10px;}
.referorder_no_phone{color: #666666;margin-left: 30px;}
.referorder_no_price{color: #ea3838;margin-left: 10px;}
.referorder_notice{width: 100%;padding:5px 10px;font-size: 12px;color: #f19149;}
.notice_img{width: 14px;margin-bottom: 4px;margin-right: 5px;}
.referorder_no_bottom{padding: 10px;}

/*申请退款*/
.applyreturn_list{margin-top: 50px;width: 100%;}
.applyreturn_list_d1{width: 100%;padding: 10px;background: #fff;}
.applyreturn_list_l1{font-size: 14px;float: left;width: 70px;}
.applyreturn_voucher{width: 60px;height: 60px;background:url(../images/stq_img_bj.png) no-repeat;background-size: 100%; margin-top: 20px;}
.applyreturn_char_color{color: #e50118;}
.return_instruct{resize: none;width: calc(100% - 70px);width: -moz-calc(100% - 70px);width: -webkit-calc(100% - 70px);}

/*退款列表*/
.returnlist_body{margin-top: 50px;width: 100%;}
.return_order{margin-top: 10px;width: 100%;}
.return_money{width: 100%;font-size: 12px;text-align: right;background: #fff;padding: 10px;}
.return_price{font-size: 16px;color: #e50118;}
.right_space{margin-right: 20px;}
.returnlogo_img{width: 14px;height: 17px; float: left;margin-right: 5px;}
.returnlogo_img img{width: 14px;}

/*退款详情*/
.return_details{margin-top: 50px;width: 100%;}
.return_details_d1{width: 100%;font-size: 14px;background: #fff;padding:10px;float: left;}
.return_details_tit2{color: #666666; float: left;width: calc(100% - 70px);}
.return_details_tit{ width:70px; float: left;}
.return_box1{width: 68px;height: 68px;background:gray;display: inline-block;margin: 10px 10px 0px 0px;}
.return_details_info{width: 100%;float: left;}
.returninfo_details {color: #333333;font-size: 12px;padding: 10px;}
.returninfo_details_s1{color: #999999;width: 60px;float: left;}
.returninfo_details_s2{width: calc(100% - 60px);float: left;}
.returninfo_bottombox{margin-top: 10px;}
.returdetails_bottom_btns{width: 100%;position: fixed;left: 0;bottom: 0;}
.bottom_btns1{width: 33.3%;padding: 10px;float: left;text-align: center; font-size: 16px;color: #fff;background: #f9b552;}
.bottom_btns2{width: 33.3%;padding: 10px;float: left;text-align: center; font-size: 16px;color: #fff;background: #4f8ffb;}
.bottom_btns3{width: 33.3%;padding: 10px;float: left;text-align: center; font-size: 16px;color: #fff;background: #b7e441;}
.bottom_btns4{width: 50%;padding: 10px;float: left;text-align: center; font-size: 16px;color: #fff;background: #f9b552;}
.bottom_btns5{width: 50%;padding: 10px;float: left;text-align: center; font-size: 16px;color: #fff;background: #b7e441;}

/*收银台*/
.checkdesk{margin-top: 50px;}
.syt_pic{width:100%;position:relative;}
.syt_pic img{width:100%;}
.syt_pic_price{width:60%;position:absolute;left:3%;color:#333333;font-size:14px;left:3%;top:0px;overflow:hidden;}
.syt_pic_price b{color:#f0ab00;font-size:12px;}
.syt_pic_price span{color:#f0ab00;}
.syt_zffs{width:100%;padding:0px 3%;background:#fff;margin-top:10px;}
.syt_zffs li{width:100%;border-bottom:#dddddd solid 1px;padding:10px 0px;height:62px;}
.syt_zffs li:last-child{border-bottom:none;}
.syt_zffs_img{float:left;width:42px;height:42px;}
.syt_zffs_img img{width:42px;height:42px;}
.syt_zffs_con{float:left;width:70%;margin-left:10px;}
.syt_zffs_name{font-size:16px;color:#333333;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.pay_name_center{margin-top: 8px;}
.syt_zffs_name_zt{font-size:10px;color:#999999;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.syt_zffs_con_choose{float:right;margin-top:11px;}
.syt_qrzf_btn{width:94%;margin:0px 3%;background:#f0ab00;border-radius:5px;text-align:center;line-height:40px;height:40px;color:#fff;font-size:18px;margin-top:30px;}
/*圆型对勾样式*/
.round_checkbox_con2{display:block;position:relative;width:20px;height:20px;}
.round_checkbox2{position:absolute;visibility:hidden;top:0px;left:0px;}
.round_checkbox2+label{position:absolute;left:0px;top:0px;width:20px;height:20px;background:#fff;border-radius:100%;box-sizing:border-box;border:#bbb solid 1px;}
.round_checkbox2:checked+label{content:"";position:absolute;top:0px;left:0px;width:20px;height:20px;background:#f0ab00;border:none;border-radius:100%;}
.round_checkbox2:checked+label:before{content:"";position:absolute;top:5px;left:4px;width:12px;height:7px;border-bottom:#fff solid 2px;border-left:#fff solid 2px;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}

/*收银台---------模态框*/
.pay_modal{width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.4);position: fixed;z-index: 90;}
.pay_modal_menus{width: 60%; margin: 0 auto;background: #fff;border-radius: 6px;}
.pay_modal_text{padding: 20px 0;}
.idcard_modal-p1{padding: 15px 0;font-size: 16px;color: #333333;}
.pay_modal_cancel{vertical-align: top; padding: 10px 0;font-size: 16px;border-bottom-left-radius: 6px; color: #999999;background: #fff;width: 49%; display: inline-block;border-right: 1px solid #dddddd;}
.pay_modal_sure{vertical-align: top; padding: 10px 0;font-size: 16px;border-bottom-right-radius: 6px; color: #03a2fd;background: #fff;width: 50%; display: inline-block;}
.pay_modal_position{width: 100%;position: absolute;bottom: 35%;}

/*登录下线提醒通知 2017-0511 xj*/
.offinfo_modal_bg{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,0.5);}
.offinfo_modal{width: 70%;background: #fff;height: 40%;position: absolute; left: 15%;top: 30%;border-radius: 8px;}
.offinfo_modal_top{font-size: 16px;text-align: center;padding: 10px;color: #525455;margin-top: 10px;}
.offinfo_modal_body{font-size: 14px;color: #717171;padding: 0px 10px 10px 10px;}
.offinfo_modal_bottom {width: 100%;border-top: 1px solid #dddddd;position: absolute;bottom: 0;}
.offinfo_modal_btncancel {color: #4abef2;width: calc(50% - 1px);width: -moz-calc(50% - 1px);width: -ms-calc(50% - 1px);width: -webkit-calc(50% - 1px);border-right: 1px solid #dddddd;}
.offinfo_modal_btnsure {width: 50%;color: #4abef2;}
.offinfo_modal_btn {display: inline-block;text-align: center;height: 40px;line-height: 40px;}

/* 开关按钮样式 */
[id^="checkbox-10-"] + label { float:right;background-color: #fafbfa;padding: 9px;border-radius: 50px;display: inline-block;position: relative;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;width:55px;height:28px;display:none;}
[id^="checkbox-10-"] + label:after {content: ' ';position: absolute;top: 0;-webkit-transition: box-shadow 0.1s ease-in;transition: box-shadow 0.1s ease-in;left: 0;width: 100%;height: 100%;border-radius: 100px;box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);}
[id^="checkbox-10-"] + label:before {content: ' ';position: absolute;background: white;top: 1px;left: 1px;z-index:2;width:31px;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;height:26px;border-radius: 100px;box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);}
[id^="checkbox-10-"]:active + label:after {box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;}
[id^="checkbox-10-"]:active + label:before {width: 37px;}
[id^="checkbox-10-"]:checked:active + label:before {width: 37px;left: 20px;}
[id^="checkbox-10-"] + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
[id^="checkbox-10-"]:checked + label:before {content: ' ';position: absolute;left: 25px;border-radius: 100px;}
[id^="checkbox-10-"]:checked + label:after {content: ' ';font-size: 1.5em;position: absolute;background: #f0ab00;box-shadow: 0 0 1px #f0ab00;}
/* 开关按钮样式2 */
.checkbox-10-2 + label { float:right;background-color: #fafbfa;padding: 9px;border-radius: 50px;display: inline-block;position: relative;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;width:55px;height:28px;}
.checkbox-10-2 + label:after {content: ' ';position: absolute;top: 0;-webkit-transition: box-shadow 0.1s ease-in;transition: box-shadow 0.1s ease-in;left: 0;width: 100%;height: 100%;border-radius: 100px;box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);}
.checkbox-10-2 + label:before {content: ' ';position: absolute;background: white;top: 1px;left: 1px;z-index:2;width:31px;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;height:26px;border-radius: 100px;box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);}
.checkbox-10-2:active + label:after {box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;}
.checkbox-10-2:active + label:before {width: 37px;}
.checkbox-10-2:checked:active + label:before {width: 37px;left: 20px;}
.checkbox-10-2 + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checkbox-10-2:checked + label:before {content: ' ';position: absolute;left: 25px;border-radius: 100px;}
.checkbox-10-2:checked + label:after {content: ' ';font-size: 1.5em;position: absolute;background: #4cda60;box-shadow: 0 0 1px #4cda60;}

/*媒体查询*/
@media screen and (min-width:414px){
	.idcard_img_left1{height: 160px;}
	.idcard_img_left2{height: 160px;}
	}
@media screen and (min-width:767px){
	.mycollection_goods_bedge{margin-top: 25px;}
	.mycollection_goods_salenum{margin-top: 22px;}	
	/*绑定身份证*/
	.idcard_img_left1{height: 280px;}
	.idcard_img_left2{height: 280px;}
}
/*回复求购*/
.reply_content{width: 100%;margin-top: 40px;}
.reply_content p{font-size: 16px;color: #333333;padding: 10px;}
.reply_needs_body{width: 100%;background: #fff;padding: 10px;}
.reply_needs_left{width: 60px;display: inline-block;vertical-align: top;}
.reply_needs_left span{color: red;}
.reply_needs_right{width: calc(100% - 65px); display: inline-block;vertical-align: top;}
.reply_needs_right textarea{width: 100%;height: 80px;resize: none;}


/*限时特惠*/
.time_limited_banner{width: 100%;height: 150px;margin-top: 40px;}
.time_limited_banner img{width: 100%;height: 100%;}
.time_limited_goodslist{width: 100%;background: #fff;}
.time_limited_goodslist ul{width: 100%;padding: 0 15px;}
.time_limited_goodslist li{width: 100%;padding: 10px 0;}
.tl_goodslist_left{width: 100px;height: 100px;margin-right: 5px;display: inline-block;vertical-align: top;}
.tl_goodslist_left img{width: 100%;height: 100%;display: inline-block;vertical-align: top;}
.tl_goodslist_right{width: calc(100% - 115px);-webkit-width: calc(100% - 110px);-moz-width: calc(100% - 110px);-ms-width: calc(100% - 110px);display: inline-block;height: 100px;}
.tl_gl_p1{ overflow:hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px;}
.tl_gl_biaoqian{height: 20px;line-height: 20px;margin-top: 2px;}
.tl_gl_sign{display: inline-block;color: #4f8ffb;font-size: 13px;border: 1px solid #4f8ffb;border-radius: 3px; height: 20px;line-height: 17px;margin-right: 5px;}
.tl_gl_price1{font-size: 13px;color: #ee5555;height: 22px;}
.tl_gl_price2{font-size: 12px;color: #bcbcbc; height: 17px;line-height: 17px; text-decoration: line-through;float: left;display: block;width: 100%;}
.tl_gl_salenum{font-size: 13px;color: #bcbcbc;float: right;width: 60px;overflow: hidden;}
.tl_gl_location{font-size: 12px;color: #bcbcbc;float: left;height: 15px;line-height: 15px;}


/*限时商品详情*/

.top_left_img{position:absolute;left:3%;height:20px;top:10px;}
.content_mind{width:100%;margin-top:40px;background:#fff;}
.spxq_content{margin-bottom:50px;}
.spxq_content_pic{width:100%;background:#fff;overflow:hidden;position:relative;}
.spxq_content_pic img{width:100%;}
.goods_img_sign{position: absolute;left: 10px;top: 10px;}
.goods_img_bq{padding: 5px;display: inline-block;background: rgba(0,0,0,0.5);color: #fff;font-size: 14px;border-radius: 5px;}
.spxq_content_title{width:100%;padding:13px 0px;}
.spxq_content_zhutitle{width:100%;padding:0px 10px;line-height:18px;font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display: -webkit-box;}
.event_timeout{width: 100%;font-size: 16px;padding: 10px;background: #f8f8f8;}
.yh_event_text{width: 50%;display: inline-block;text-align: left;color: #333333;}
.yh_event_time{width: 50%;display: inline-block;text-align: right;color: #ea3838;padding-right: 10px;}
.spxq_content_pfl{padding:13px 0px;width:100%;overflow:hidden;}
.spxq_content_pfl li{float:left;width:33.3%;text-align:center;margin: 0 auto;}
.goods_pricenum_box{display: flex;display: -webkit-flex;justify-content: space-around;}
.goods_pricenum{text-align: center;}
.spxq_content_pfl_jg{font-size:14px;color:#ea3838;height:20px;line-height:20px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.goods_initialprice{font-size: 14px;text-decoration: line-through;color: #bcbcbc;}
.spxq_content_pfl_number{font-size:12px;color:#bcbcbc;height:20px;line-height:20px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.event_timeout{width: 100%;padding: 10px;font-size: 16px;}
.spxq_content_cdgg{width:100%;padding:13px 3%;overflow:hidden;}
.spxq_content_xqgg{width:100%;color: #a8a8a8;}
.spxq_content_xqgg li{font-size:12px;overflow:hidden;line-height:16px;margin-bottom:5px;}
.spxq_content_xqgg li:last-child{margin-bottom:0px;}
.spxq_content_xqgg_cd{float:left;width:70%;}
.spxq_content_xqgg_title{float:left;display:block;max-width:70px;}
.spxq_content_xqgg_con{float:left;display:block;width:calc(100% - 70px);}
.spxq_content_xqxl{float:left;font-size:12px;width:30%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
.spxq_content_xqxl b{font-weight:normal;}
.event_timeout_img{width: 100%;height: 45px;}
.event_timeout_img img{width: 100%;height: 100%;}
.spxq_content_gsxx{width:100%;padding:13px 3%;overflow:hidden;}
.spxq_content_gs_pic{width:70px;height:70px;float:left;}
.spxq_content_gs_pic img{width:100%;}
.spxq_content_gs_con{margin-left:70px;width:calc(100% - 70px);padding-left:8px;}
.spxq_content_gs_name{font-size:14px;width:100%;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_jyfw{color: #a8a8a8; font-size:12px;width:100%;height:18px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.spxq_content_gs_slcon{color: #a8a8a8; font-size:12px;width:100%;height:18px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px;}
.spxq_content_gs_slcon li{float:left;}
.spxq_content_gs_number{width:30%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_number span{display:block;float:left;color:#ff5a00;max-width:45%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_jyl{width:45%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_jyl span{display:block;float:left;color:#ff5a00;max-width:60%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.spxq_content_gs_city{width:25%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
.spxq_content_twxq{width:100%;background: #f8f8f8;}
.spxq_content_twxq_title{width:100%;height:40px;line-height:40px;padding:0px 3%;font-size:12px;}
.spxq_content_twxq_pic{width:100%;font-size:12px;padding: 10px ;background: #fff;float: left;margin-bottom: 50px;}
.yhgoods_img_info{width: 100%;margin-top: 10px;}
.yhgoods_img_info img{width: 100%;}
.spxq_bottom{position:fixed;bottom:0px;left:0px;width:100%;height:50px;border-top:#dddddd solid 1px;overflow:hidden;background:#fff;}
.spxq_bottom_jhd{float:left;height:49px;float:left;width:50px;position:relative;}
.spxq_bottom_jhd_img{display:block;height:20px;margin:0px auto;margin-top:6px;}
.spxq_bottom_jhd_img_sc{display:none;height:20px;margin:0px auto;margin-top:6px;}
.spxq_bottom_jhd_font{font-size:12px;color:#24aaeb;text-align:center;width:100%;height:15px;line-height:15px;margin-top:5px;}
.spxq_bottom_jhd_number{position:absolute;color:#fff;background:#ea3838;font-size:12px;top:2px;left:calc(50% + 3px);height:16px;line-height:16px;width:23px;overflow:hidden;text-align:center;border-radius:20px;}
.spxq_bottom_dp_font{font-size:12px;color:#333;text-align:center;width:100%;height:15px;line-height:15px;margin-top:5px;}
.spxq_bottom_add_gwc{float:left;width:calc((100% - 150px)/2);height:49px;background:#f8b551;color:#fff;font-size:16px;text-align:center;line-height:49px;}
.spxq_bottom_buying{float:left;width:calc((100% - 150px)/2);height:49px;background:#4f8ffb;color:#fff;font-size:16px;text-align:center;line-height:49px;}

/*供求发布*/
.supply_imggroup{padding:10px 0 10px 10px;background: #fff;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: flex-start;-webkit-justify-content: flex-start;justify-content: flex-start;-webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.supply_imgbox {width: 33.3%; height: 100px;padding-right:10px;}
.supply_img {width: 100%;height: 100%;background: url(../images/stq_img_bj.png);background-size: 100% 100%;position: relative;}
.supply_img img{width: 100%;height: 100%;}
.supply_img p{position: absolute;bottom: 10px;text-align: center;width: 100%;font-size: 12px;}
.supply_imgcancel {position: absolute;top:5px;right: 5px;width: 20px;height: 20px;background: url(../images/ico_close_s.png);background-size: 100% 100%;}
@media only screen and (min-width:550px ) {
	.supply_imgbox {width: 33.3%; height: 150px;padding-right:10px;}
}
.supply_box1{width: 100%;font-size: 14px;margin-top: 10px;}
.supply_box1 p{padding: 10px;font-size: 14px;color: #999999;}
.supply_box1 input{width: 100%;}
.supply_box1 ul{background: #fff;width: 100%;padding-left: 10px;float: left;}
.supply_box1 li{width: 100%;float: left;}
.supply_li_arrow{width: 100%;padding: 10px 7% 10px 0px;line-height: 28px;background: #fff url(../images/li_right.png) no-repeat;background-position: 97% 50%;background-size: 9px;/*display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;*/}
.supply_li_display{width: 100%;padding: 10px 7% 10px 0px;line-height: 28px;background: #fff ;/*display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;-webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;*/}
.bottom_border{border-bottom: 1px solid #ddd;}
.supply_li_display div:first-child{width: 80px;float: left;}
.supply_li_arrow div:first-child{width: 80px;float: left;}
.supply_li_display div:last-child{float: left;text-align: left; width: calc(100% - 80px);width: -webkit-calc(100% - 100px);width: -moz-calc(100% - 100px);width: -o-calc(100% - 100px);width: -ms-calc(100% - 100px);}
.supply_li_arrow div:last-child{float: left;text-align: left; width: calc(100% - 80px);width: -webkit-calc(100% - 100px);width: -moz-calc(100% - 100px);width: -o-calc(100% - 100px);width: -ms-calc(100% - 100px);}
.supply_li_arrow textarea{text-align: left;padding-right: 2px; width: 100%;font-size: 15px;font-family: "微软雅黑";height: 46px;outline: medium;color: #666666;resize: none;}
.supply_li_display textarea{text-align: left;padding-right: 2px; width: 100%;font-size: 15px;font-family: "微软雅黑";height: 46px;outline: medium;color: #666666;resize: none;}
.must_sign{color: #ff6000}

